@use "../utilities/fontawesome";

/* Generated Form Styles */

@mixin form-element {
    &[labeled] {
        &[colspan="2"] { grid-column: span 3; }
        &[colspan="3"] { grid-column: span 5; }
    }
    &:not([labeled]) {
        &:not([colspan]),
        &[colspan="1"] { grid-column: span 2; }
        &[colspan="2"] { grid-column: span 4; }
        &[colspan="3"] { grid-column: span 6; }
    }
}

$form-col-label: 5rem;
$form-col-input: 10rem;
$form-gap: 0.5rem;

form.form-section,
form-section {
    display: grid;
    grid-column-gap: $form-gap;
    grid-row-gap: $form-gap;

    @include form-element;

    &:not([columns]),
    &[columns="1"] { grid-template-columns: $form-col-label $form-col-input; }
    &[columns="2"] { grid-template-columns: $form-col-label $form-col-input $form-col-label $form-col-input; }
    &[columns="3"] { grid-template-columns: $form-col-label $form-col-input $form-col-label $form-col-input $form-col-label $form-col-input; }
}

form.form-section {

    &:not([formspan]),
    &[formspan="1"] { width: $form-col-label + $form-col-input + $form-gap; }               // 15 + 0.5 rem for 1 column gap
    &[formspan="2"] { width: (($form-col-label + $form-col-input) * 2) + ($form-gap * 3); } // 30 + 1.5 rem for 3 column gaps
    &[formspan="3"] { width: (($form-col-label + $form-col-input) * 3) + ($form-gap * 5); } // 45 + 2.5 rem for 5 column gaps
}

form.form-section > label,
form-section > label {
    font-weight: 500;
    align-self: center;
}


form.form-section > form-input,
form-section > form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include form-element;

    & > input,
    & > select,
    & > textarea {
        width: 100%;
        height: 100%;
        padding: 0 0.25rem;
        border-radius: 4px;
        border: 1px solid transparent;
        border-left-width: 5px;
        min-height: 1.25rem;
        overflow: hidden;

        &:required { border-left: 5px solid grey; }
        &:invalid { border-left: 5px solid orange; }
        &:valid { border-left: 5px solid transparent; }
    }

    & > button.button {
        width: 100%;
        height: 100%;
        min-height: 1.25rem;
        padding: 0 0.25rem;
        border-radius: 4px;
    }
    
    // Copybox
    &.copybox,
    &.keyinput {
        display: inline-grid;
        grid-template-columns: 80% 20%;
        overflow: hidden;
        position: relative;

        input[type=text] {
            width: unset;
            border-radius: 4px 0 0 4px;
            text-align: center;
            outline: 0;

            box-shadow: none;
            transition: box-shadow 0.25s linear;

            &.input-info { color: orange; }

            &.highlight {
                box-shadow: inset 0px 0px 0px 2px #ffffff60;
            }
        }

        span.keyinput-warning {
            position: absolute;
            width: 0;
            right: calc(20% + 1.25rem);

            &:before {
                content: unicode("f12a");
                @include fontawesome.family;
                font-weight: 900;
                color: coral;
            }
        }

        button[type=button] {
            width: unset;
            border-radius: 0 4px 4px 0;
            outline: 0;
        }
    }

    // Keybind Selector
    &.keyinput input[type=text] {
        text-transform: uppercase;
        font-family: monospace;
        font-size: 1.3em;
    }

    &.fileinput input[type=file] {
        width: stretch;
    }

    // Icon Selector
    div.icon-picker {
        display: grid;
        grid-template-columns: repeat(auto-fit, 23px);
        grid-column-gap: 0.29rem;
        grid-row-gap: 0.30rem;
        width: 100%;

        a {
            display: inline-flex;
            justify-content: space-around;
            padding: 0.125rem 0.25rem;
            outline: 0;

            @include fontawesome.family;
            font-weight: 900;

            border: 1px dashed #666666;

            &.active { background: #ffffff30; }
        }
    }

    // Checkbox Switch
    &.checkbox-switch {
        justify-content: unset;

        input[type=checkbox] {  display: none; }

        /* to hide the checkbox itself */
        input[type=checkbox]+label:before {
            content: unicode("f0c8");
            @include fontawesome.family;
            display: inline-block;
            letter-spacing: 10px;
            cursor: pointer;
        }

        input[type=checkbox]:checked+label:before {
            content: unicode("f14a");
        }

        label {
            cursor: pointer;
            font-weight: 500;
        }
    }

    // Radio Switch
    &.radio-switch {
        justify-content: unset;

        div.radio-element {
            display: inline-flex;
            margin-right: 0.25rem;
            border-radius: 4px;

            &:last-child {
                margin-right: 0;
            }

            input[type=radio] {
                display: none;
            }

            label {
                padding: 0.25rem 0.5rem;
                min-width: 3rem;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    // DIV
    &.text-div {
        display: block;
        width: 100%;
        line-height: 1.25rem;

        div.notice {
            font-size: smaller;
        }

        div.unmargin {
            margin: -0.5rem 0;
        }

        pre {
            display: inline;
            background: #ffffff15;
            padding: 0 0.25rem;
            border-radius: 0.25rem;
        }

        &.subheader {
            padding-left: 1.5rem;
        }
    }

    // Spacer {
    & > spacer {
        display: block;
        height: 1em;

        &.unmargin { height: 0; }
    }

    // HR
    & > hr {
        width: 100%;
        border: 0;
        border-top: 1px solid #ffffff33;
    }

    // Disabled Inputs
    &.input-disabled {
        color: #666666 !important;
        & > select,
        & > input { color: #666666 !important; }
    }

    // End of Input Container
}

/* Collapsible section */
form.form-section > form-collapse,
form-section > form-collapse {
    display: block;
    justify-content: space-between;
    align-items: center;

    margin: 0 -0.75rem 0 -0.75rem !important;
    width: stretch;

    @include form-element;

    & > h3.collapse-header {
        border: unset !important;
        background: #ffffff08 !important;
        color: unset !important;
        font-weight: unset !important;
        outline: 0;
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        span.form-collapse-badge {
            float: right;
            width: 2rem;
            padding: 0 0.5rem;
            margin-right: 0.25rem;
            border-radius: 0.5rem;
            background: #00000030;
            box-shadow: inset 0 0 5px 0px #00000050;
            font-weight: bold;
            text-align: center;
        }
    }

    & > form-section.collapse-content {
        height: unset !important;
        background: #ffffff05;
        color: unset;
        border: 0;
        padding: 0.25rem 0.75rem;
    }

}

/* Accordion */
form-accordion {
    display: block;
    justify-content: space-between;
    align-items: center;

    margin: 0 -0.75rem 0 -0.75rem !important;
    width: stretch;

    @include form-element;

    & > form-header {
        display: block;
        border: unset !important;
        border-bottom: 1px solid #ffffff11 !important;
        background: #ffffff08 !important;
        color: unset !important;
        font-weight: unset !important;
        font-size: 1.16667em;
        outline: 0;
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        span.form-collapse-subheader {
            float: right;
            font-size: 70%;
            padding: 0.25rem;
        }

        span.form-collapse-badge {
            float: right;
            width: 2rem;
            padding: 0 0.5rem;
            margin-right: 0.25rem;
            border-radius: 0.5rem;
            background: #00000030;
            box-shadow: inset 0 0 5px 0px #00000050;
            font-weight: bold;
            text-align: center;
        }
    }

    & > form-section.collapse-content {
        height: unset !important;
        background: #ffffff05;
        border-bottom: 1px solid #ffffff11 !important;
        color: unset;
        border: 0;
        padding: 1rem 0.75rem;
    }

}
