
/* Basic style fixes */
div#source-container {
    & > div > button {
        min-width: 1.5rem;
    }

    button.source-copy,
    button.source-link,
    span.source-eval {
        float: right;
        margin-left: 0.25rem;
    }

    span.source-eval {
        color: coral;
        font-family: monospace;
    }
}

/* Duplicates Checking */
div#dupes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 8rem);
    grid-column-gap: 0.25rem;

    & > .fullspan,
    & > h3 {
        grid-column: 1/-1;
    }

    & > .error {
        color: darkorange;
        font-weight: unset;
    }

    & > div {

        a > img {
            object-fit: cover;
            width: 8rem;
            height: 8rem;
        }

        loading::before {
            content: " ";
            background: red;
            display: block;
            height: 0.125rem;
            width: var(--progress, "0%");
        }

        span {
            display: block;
            text-align: center;
            height: 1rem;
            margin-top: -1rem;
            pointer-events: none;
            font-family: monospace;
            overflow: hidden;
            text-shadow: 0px 0px 5px black;
        }

    }
}

/* Reverse Image Search Links */
div#ris-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

/* Upload Submit Button */
button.submit-upload {
    padding: 0.75rem 1rem;
    font-weight: bold;
}

a#upload-parent-preview {
    display: block;
    margin: 0.5rem 0;
    width: min-content;
    
    img {
        object-fit: cover;
        width: 8rem;
        height: 8rem;
    }
}
