/* Tab Group Styles */
tabbed {
    display: block;
    border: unset !important;
    background-color: unset !important;
    color: unset !important;

    ul.ui-tabs-nav {
        border: unset !important;
        background-color: unset !important;
        color: unset !important;

        margin-left: 0;
        margin-bottom: 0.5rem;

        li.ui-tabs-tab {
            display: inline-block;

            border: unset;
            background: unset;

            padding: 0.25rem 0.5rem;
            margin-right: 0.5rem;
            outline: 0;
            border-radius: 0 0 4px 4px;
            font-weight: normal;

            background-color: transparent;

            &:hover,
            &.ui-tabs-active {
                background-color: #00000033;
            }

            a,
            a:link,
            a:visited {
                outline: 0;
                color: inherit;
            }

            &.ui-state-hover,
            &.ui-state-default {
                color: inherit;
            }
        }
    }

    div.ui-tabs-panel {
        border: unset !important;
        background-color: unset !important;
        color: unset !important;
    }
}
