/* Styles for the revamped search page */

section#content {

    search-loading {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
    }

    search-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, max(var(--img-width, 150px), 150px));
        grid-auto-rows: minmax(min-content, max-content);   // random space at the bottom otherwise
        grid-column-gap: 0.25rem;
        grid-row-gap: 0.5rem;
        justify-content: space-between;
        height: min-content;    // as above, random space at the bottom causes pagination to jump
        min-height: 80vh;

        // All results filtered out
        &[posts="0"]::before {
            content: "Nobody here but us chickens!";
            display: flex;
            height: 150px;
            width: 100%;

            justify-content: center;
            align-items: center;
            grid-column: 1/-1;

            font-family: monospace;
            font-size: 1.1rem;
            color: #aaa;
        }

        post-break {
            grid-column: 1/-1;
            display: flex;
            justify-content: center;
            height: 1rem;

            font-family: monospace;
            text-transform: uppercase;
            color: #666;
            line-height: 1rem;
            font-size: 1rem;

            &::after, &::before {
                content: " ";
                display: inline-flex;
                width: 100%;
                position: relative;
                bottom: 0.5rem;
                border-bottom: 1px solid #666;
            }
            &::before { margin-right: 0.5rem; }
            &::after { margin-left: 0.5rem; }
        }

        &[hide-page-breaks=true] post-break { display: none; }
    }

    &[loading=true] {
        div#posts { display: none; }
        search-content { display: none; }
    }
    &:not([loading=true]) search-loading { display: none; }

    paginator-container {
        display: block;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        height: 5rem;
        width: 100%;

        & > span.paginator-loading {
            display: flex;
            justify-content: center;
        }

        & > paginator {
            display: grid;
            grid-template-columns: auto auto auto;
            width: 100%;
            text-align: center;
        }

        .paginator-prev,
        .paginator-next {
            grid-row: span 2;
            align-self: center;
        }

        span.infscroll-next-wrap {
            display: flex;
            justify-content: center;
            height: 2.25rem;

            &::before, &::after {
                content: " ";
                display: inline-flex;
                position: relative;
                bottom: -0.5rem;
                width: 5rem;
                height: 1px;
                border-bottom: 1px solid #666;
            }
            &::before { margin-right: 0.5rem; }
            &::after { margin-left: 0.5rem; }

            span.infscroll-next-cont { text-align: center; }
            span.infscroll-manual {
                display: block;
                font-family: monospace;
                text-transform: uppercase;
                color: #999;
            }
        }

        div.paginator-numbers {
            grid-row: 2;
            grid-column: 2;

            a, span {
                margin: 0.5rem 0.5rem;
                display: inline-block;
            }
        }
    }

    &[loading=true] paginator-container { display: none; }
    &[infscroll=loading] paginator-container > paginator { display: none; }
    &[infscroll=ready] paginator-container > span { display: none; }
}

search-content > post {
    display: flex;
    justify-content: center;
    align-self: self-start;
    flex-flow: column;

    background: #00000040;

    border-radius: 6px;
    position: relative;
    
    transition: box-shadow 0.25s linear;

    &[blacklisted=true] { display: none; }
    &[filtered=true] { display: none; }

    & > a {
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        outline: 0 !important;

        img {
            align-self: flex-end;
            border-radius: 6px 6px 0 0;
        }

        canvas {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .ff-container .ff-overlay {
            max-width: 2.5rem;
            max-height: 2.5rem;
        }
    }

    // Loading overlay
    & > a > post-loading {
        display: none;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;

        color: white;
        text-shadow: 0 0 10px black;

        &::before {
            content: unicode("f1ce");
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            width: 2rem;
            height: 2rem;
            font-size: 2rem;
            line-height: 2rem;
        }
    }

    &[loading=true] post-loading {
        display: flex;
        &::before { animation: fa-spin 2s infinite linear; }
    }

    // Double-click Highlight
    &.highlight {
        box-shadow: 0px 0px 0px 5px #ffffff60;
    }

    // Description section - upvotes, favorites, comment count, rating
    post-info {
        display: flex;
        width: 100%;
        height: 1rem;
        padding: 0 0.5rem;
        justify-content: center;
        box-sizing: border-box;
        z-index: 10;

        background: #ffffff25;
        font-size: 90%;
        color: #bbb;

        border-radius: 0 0 6px 6px;

        & > span:not(:last-child) {
            margin-right: 0.5rem;
        }

        span::before {
            content: " ";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        span.post-info-score {
            &.score-positive::before { content: unicode("f30c"); }  // long-arrow-alt-up
            &.score-negative::before { content: unicode("f309"); }  // long-arrow-alt-down
            &.score-neutral::before { content: unicode("f338"); }   // arrows-alt-v
        }

        span.post-info-favorites {
            color: #c3a816;
            &::before { content: unicode("f004");  }                // heart
        }

        span.post-info-comments {
            &::before {
                content: "C";
                font-family: unset;
            }
        }

    }
}
span.post-score-faves { color: #c3a816; }
span.post-info-rating {
    text-transform: uppercase;
    &.rating-e { color: #e45f5f; }
    &.rating-q { color: #ffe666; }
    &.rating-s { color: #3e9e49; }
}


/* Un-rendered Post */
search-content > post[rendered=false] {
    width: var(--img-width, 150px);
    height: calc(max(var(--img-width, 150px), 150px) * var(--img-ratio, 1));
    max-height: var(--img-maxheight, 50vh);
    align-items: center;

    border-bottom: 1rem solid #ffffff25;

    font-size: 2em;
    font-family: monospace;
    color: #ffffff10;
}

search-content > post[rendered=false],
search-content > post[filetype=swf],
search-content > post[deleted=true] {
    background-image: url(placeholderBG("ffffff06"));
}


/* Placeholder Images */
search-content > post[filetype=swf] > a:after,
search-content > post[deleted=true] > a:after {
    content: "PLACEHOLDER";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Courier New";
    letter-spacing: 3px;
    font-size: 1.5rem;
    color: #999;
}
search-content > post[filetype=swf] > a:after { content: "FLASH" }
search-content > post[deleted=true] > a:after { content: "DELETED" }


/* Thumbnail Resizing */
search-content > post img {
    object-fit: cover;
    min-width: clamp(10%, var(--img-fit, 100%), 100%);
    height: calc(max(var(--img-width, 150px), 150px) * var(--img-ratio, 1));
    min-height: calc(max(var(--img-width, 150px), 150px) * 0.25);
    max-height: var(--img-maxheight, 50vh);
}


/* Animation Badges */
search-content > post {

    &[animated=true] > a::before {
        content: "ANIM";
        background-color: #222222aa;
        border: 1px solid #66666655;
        color: #fff;
        position: absolute;
        left: -0.25rem;
        top: 1.125rem;
        text-align: center;
        border-radius: 0.25rem;
        padding: 0 0.125rem;
        font-size: 0.6em;
        font-weight: 700;
        z-index: 10;
    }

    &[animated=true][filetype=webm] > a::before { content: "WEBM"; }
    &[animated=true][filetype=gif] > a::before { content: "GIF"; }
    &[animated=true][filetype=swf] > a::before { content: "SWF"; }

}


/* Image Ribbons */
picture.picture-container {
    display: block;
    position: relative;
    width: min-content;
    height: min-content;

    & > img { border: 0 !important; }
}

search-content,
picture.picture-container {

    img-ribbons {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        z-index: 10;
    }

    ribbon {
        position: absolute;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
        display: block;

        $status-flagged: orangered;
        $status-pending: #4343d9;
        $rel-children: forestgreen;
        $rel-parent: goldenrod;

        & > span {
            display: block;
            position: absolute;
            top: -0.6rem;
            height: 1rem;
            width: 2rem;
            background: white;
            transform-origin: bottom;
            cursor: pointer;

            box-shadow: 0 0 10px -4px black;
        }

        &.right {
            right: 0;
            border-top-right-radius: 6px;

            span {
                transform: rotate(45deg);
                right: -0.6rem;
            }
        }

        &.left {
            left: 0;
            border-top-left-radius: 6px;

            span {
                transform: rotate(-45deg);
                left: -0.6rem;
            }
        }

        &.has-children span { background: $rel-children; }
        &.has-parent span { background: $rel-parent; }
        &.has-children.has-parent span {
            background: linear-gradient(90deg, $rel-parent 50%, $rel-children 50%);
        }

        &.is-flagged span { background: $status-flagged; }
        &.is-pending span { background: $status-pending; }
        &.is-flagged.is-pending span {
            background: linear-gradient(90deg, $status-flagged 50%, $status-pending 50%);
        }
    }

    // Bottom Ribbons
    &[ribbons-alt=true] {
        img-ribbons {
            top: unset;
            bottom: 1rem;
        }

        ribbon.left { transform: rotate(270deg); }
        ribbon.right { transform: rotate(90deg); }
    }
}


/* Voting Buttons */
search-content  {
    
    post-voting {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: flex-end;
        bottom: 1rem;
        left: 0;
        right: 0;
        height: 0;
        z-index: 10;
    }

    button.button.voteButton {
        font-size: 0.9rem;
        padding: 0.125rem 0.75rem;
        border-radius: 0;

        &.vote {
            display: none;
            padding: 0.125rem 1rem;

            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 500;
                position: relative;
            }
            &[action=up] {
                border-right: 1px solid #666;
                border-top-left-radius: 0.75rem;
                margin-right: -0.5px;
                padding-right: 0.7rem;
                box-shadow: -1px -3px 5px #00000060;

                &::before { content: unicode("f164"); bottom: -1px; }
            }
            &[action=down] {
                border-left: 1px solid #666;
                border-top-right-radius: 0.75rem;
                margin-left: -0.5px;
                padding-left: 0.7rem;
                box-shadow: 1px -3px 5px #00000060;

                &::before { content: unicode("f165"); top: 2px; left: 2px; }
            }
        }

        &.fav {
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0.125rem 0.375rem;
            border-top-right-radius: 0.75rem;
            box-shadow: 1px -3px 5px #00000060;

            &::before {
                content: unicode("f005");
                font-family: "Font Awesome 5 Free";
                font-weight: 500;
                position: relative;
                top: 1px;
                right: 1px;
            }
        }
    }

    // Scoring
    post[vote="1"] button.button.voteButton.vote[action=up] { color: #3e9e49; }
    post[vote="-1"] button.button.voteButton.vote[action=down] { color: #e45f5f; }
    post[fav=true] button.button.voteButton.fav { color: #c3a816; }

    // Visibility
    post:hover button.button.voteButton.vote { display: block; }
    post:hover button.button.voteButton.fav,
    post[fav=true] button.button.voteButton.fav { display: block; }
    post[fav=true]:not(:hover) button.button.voteButton.fav {
        background: #00000090;
        &::before { font-weight: 600; }
    }

}


/* Hover Zoom */
zoom-container {
    position: fixed;
    top: 100vh;
    z-index: 800;
    pointer-events: none;

    & > img {
        max-width: calc(50vw - 50px);
        max-height: 80vh;
        background: #00000090;
        background-position: center center;
        background-size: contain;

        /*
        &::before {
            content: var(--image-info, "??? x ???, ???MB");
        }
        */
    }

    & > video {
        max-width: calc(50vw - 50px);
        max-height: 80vh;
        background: #00000090;
        background-position: center center;
        background-size: contain;
    }

    & > div {
        max-width: fit-content;
        max-height: 4rem;
        overflow: hidden;
        padding: 0 4px;

        background: #000000aa;
        font-family: monospace;
        line-height: 1rem;

        box-sizing: border-box;
    }

    &[status=waiting] { display: none; }
    &[status=loading] {
        &::after {
            content: unicode("f1ce");
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 3rem;
            line-height: 3rem;
            text-shadow: 0 0 3px black;

            animation: fa-spin 2s infinite linear;

            display: flex;
            justify-content: center;
            align-items: center;
            
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}


/* Quick Tags Form */
section#content > form#re621-quick-tags {
    display: none;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    padding: 0.5rem 0.25rem;
    margin-bottom: 1.25rem;
    z-index: 100;
    position: relative;

    textarea {
        max-width: stretch;
        width: 100%;
        height: 6rem;
        margin: 0 !important;
    }

    div.quick-tags-toolbar {
        display: grid;
        grid-template-columns: 5rem 5rem auto 5rem 7rem;
        grid-column-gap: 0.5rem;
        margin-top: 0.5rem;
    }

    div.quick-tags-info {
        position: absolute;
        bottom: -1rem;
        font-family: monospace;

        span, a {
            display: inline-block;
            background: #00000080;
            line-height: 1rem;
            padding: 0 0.5rem;
            border-radius: 0 0 0.25rem 0.25rem;
            outline: 0 !important;
        }
    }
}

body[data-sticky-editbox=true] section#content > form#re621-quick-tags {
    position: sticky;
}

div#page.mode-edit section#content > form#re621-quick-tags {
    display: block;
}
