@use "../utilities/mixins";

/** Replacement Blacklist Filtering Styles */
section#blacklist-box {
    display: block;
}

// Hide blacklist if it's empty
section#blacklist-box[count="0"][discount="0"] {
    display: none;
}

// Header
blacklist-header {
    display: block;
    font-size: 1.16667em;
    font-weight: bold;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

section#blacklist-box > blacklist-header::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
    margin-right: 0.5rem;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/%3E%3C/svg%3E");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: transform 0.25s ease;
}
section#blacklist-box[collapsed=true] > blacklist-header::before {
    transform: rotate(-90deg);
}

// Content
blacklist-content {
    display: block;
    max-height: 50vh;
    overflow: visible scroll;
    margin-left: -0.125rem;

    & > filter {
        display: list-item;
        list-style: none;
        margin-left: 1rem;
        margin-top: 0.125rem;
        color: #bbb;

        &::before {
            content: "";
            display: inline-block;
            width: 1em;
            height: 1em;
            vertical-align: -0.1em;
            margin-right: 0.435rem;
            margin-left: -1rem;
            margin-top: 0.125rem;
            background-color: currentColor;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            cursor: pointer;
        }

        & > a {
            outline: 0 !important;
        }

        & > span {
            margin-left: 0.5rem;
        }

        &[enabled=false] {
            &::before {
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z'/%3E%3C/svg%3E");
            }
            & > a { color: #ccc !important; }
        }
    }
}

section#blacklist-box[collapsed=true] > blacklist-content {
    display: none;
}

section#blacklist-box:not([collapsed=true]) > blacklist-content {
    @include mixins.scrollbars;
}

// Toggle
blacklist-toggle {
    display: block;
    margin-top: 0.25rem;
}
