//make image container square, instead of what it was before
.post-thumbnail.filtered {
    & img {
        width: 100%;
        height: 100%;
    }
}

#blacklist-collapse {
    display: block;
}

span#blacklisted-count {
    display: inline-block;
    margin-left: 0.25rem;
}
