/** Settings textarea **/
textarea#settings-flags-defs {
    height: 20rem;
    white-space: pre;
    font-family: monospace;
    font-size: 1.1em;
}

.flag-defs-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 2rem;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;

    input {
        box-sizing: border-box;
        border-radius: 0;
    }
}

/** Post page view **/
div.custom-flag {
    font-family: monospace;
    font-size: 1.2em;
    margin: 0.25rem 0;
    padding-left: 0.6rem;

    span.custom-flag-title {
        position: relative;
        background-color: var(--flag-color, #666666);
        padding: 0.125rem 0.6rem 0.125rem 0.3rem;
    
        &:before {
            content: "";
            position: absolute;
            left: -0.6rem;
            bottom: 0;
            border-left: 0.6rem solid transparent;
            border-top: 0.6rem solid var(--flag-color, #666666);
            border-bottom: 0.6rem solid var(--flag-color, #666666);
        }
    }
}

/** Search page view **/
div.flag-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 110;

    width: stretch;
    overflow: hidden;

    span.custom-flag-thumb {
        background-color: var(--flag-color, #666666);
        margin: 0.125rem;
        display: block;
        height: 1rem;
        font-size: 0.75em;
        width: 1em;
        padding: 0 0.125rem;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: -0.5rem;
            border-left: 0.5rem solid transparent;
            border-top: 0.5rem solid var(--flag-color, #666666);
            border-bottom: 0.5rem solid var(--flag-color, #666666);
        }

        &:hover {
            width: unset;
        }
    }
}
