/** Settings textarea **/
textarea#settings-flags-defs {
    height: 20rem;
    white-space: pre;
    font-family: monospace;
    font-size: 1.1em;
}

.flag-defs-inputs {
    display: grid;
    grid-template-columns: 1rem 1fr auto 5fr 2rem;
    grid-column-gap: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;

    input {
        box-sizing: border-box;
        border-radius: 0;
    }
}

/** Post page view **/
div.custom-flag {
    font-family: monospace;
    font-size: 1.2em;
    margin: 0.25rem 0;
    padding-left: 0.6rem;

    span.custom-flag-title {
        position: relative;
        background-color: var(--flag-color, #666666);
        padding: 0.125rem 0.6rem 0.125rem 0.3rem;
    
        &:before {
            content: "";
            position: absolute;
            left: -0.6rem;
            bottom: 0;
            border-left: 0.6rem solid transparent;
            border-top: 0.6rem solid var(--flag-color, #666666);
            border-bottom: 0.6rem solid var(--flag-color, #666666);
        }
    }
}

/** Search page view **/
post-flags {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1rem;
    overflow: hidden;

    pointer-events: none;

    span.custom-flag-thumb {
        display: block;
        height: 1rem;
        margin: 0.125rem 0;
        padding: 0 0.125rem;

        position: relative;
        pointer-events: all;
        cursor: help;

        background-color: var(--flag-color, #666666);
        font-size: 0.75em;
        max-width: 0.75rem;
        transition: max-width 0.75s ease-out;
        color: #ffffff;

        &:before {
            content: "";
            position: absolute;
            left: -0.5rem;
            border-left: 0.5rem solid transparent;
            border-top: 0.5rem solid var(--flag-color, #666666);
            border-bottom: 0.5rem solid var(--flag-color, #666666);
        }

        &:hover, &.expanded {
            max-width: 100%;
        }
    }
}

/** Fixes the padding on non-<post> elements **/
article post-flags {
    bottom: 0;
}
