/** Settings textarea **/
textarea#settings-flags-defs {
    height: 20rem;
    white-space: pre;
    font-family: monospace;
    font-size: 1.1em;
}

/** Post page view **/
div.custom-flag {
    font-family: monospace;
    font-size: 1.1em;
    margin: 0.25rem 0;

    span.custom-flag-title {
        background: maroon;
        border-radius: 0.25rem;
        padding: 0.125rem 0.5rem;
    }
}
