/* Styles for the Formatting Helper module */

form.formatting-helper {

    padding: 0;
    background: unset !important;

    &.new_forum_post,
    &.edit_forum_post,
    &.edit_comment {

        input[type=button],
        input[type=submit] {
            padding: 0.25rem 0.5rem;
        }
    }

    div.input.text.optional {
        margin-bottom: 0;

        &>label[for^="forum_post_body"] {
            display: none;
        }

        span.hint {
            max-width: unset;
            float: right;
        }
    }

    input[type=submit].dtext-submit {
        //    background: #00000022;
        margin: 0.5rem 0 0;
    }
}

div.dtext-previewable {
    display: grid;
    grid-template-columns: auto min-content;
    min-height: 12rem;

    div.comment-header {
        grid-column: 1;

        display: inline-grid;
        grid-template-columns: max-content auto min-content;

        width: 100%;
        padding-top: 0.5rem;
        box-sizing: border-box;
        border-bottom: 0;
        border-radius: 6px 6px 0 0;

        div.comment-tabs {
            padding-left: 1rem;

            a {
                display: inline-block;
                padding: 0.5rem 0.75rem;
                margin-right: 0.5rem;

                border-radius: 4px 4px 0 0;
                outline: 0;
                font-weight: 500;

                &.active {
                    pointer-events: none;
                    background: #00000040;
                }
            }
        }
    }

    div.comment-buttons,
    div.settings-buttons,
    div.dtext-button-drawer {
        padding: 0 0.5rem;

        overflow: hidden;
        white-space: nowrap;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 0.25rem 0.5rem;

            a {
                display: inline-block;
                padding: 0.125rem 0.25rem;
                outline: 0;

                border: 1px dashed transparent;

                font-family: 'Font Awesome 5 Free';
                font-weight: 900;

                &.disabled {
                    pointer-events: none;
                }
            }

            &.ui-sortable-placeholder {
                display: inline-block;
                height: 1px;
            }
        }
    }

    &[data-drawer=true] div.comment-buttons,
    &[data-drawer=true] div.dtext-button-drawer {
        li a {
            border: 1px dashed #666666;

            &.disabled {
                pointer-events: unset;
            }
        }
    }

    textarea,
    div.dtext-preview {
        grid-column: 1;

        width: 100%;
        min-width: stretch;
        max-width: 100%;
        min-height: inherit;
        box-sizing: border-box;
        outline: 0;

        box-shadow: unset;
        padding: 0.25rem;
        margin-bottom: 0 !important;

        font-family: inherit;
        font-size: inherit;

        border-top: 0;
        border-radius: 0 0 6px 6px;
    }

    textarea:focus {
        background: inherit;
        color: inherit;
    }

    &[data-editing=false] div.comment-buttons,
    &[data-editing=false] div.settings-buttons,
    &[data-editing=false] textarea {
        display: none !important;
    }

    &[data-editing=false] div.dtext-preview {
        display: block;
    }

    div.dtext-button-drawer-title {
        grid-row: 1;
        grid-column: 2;

        margin-left: 1rem;
        text-align: center;
        padding-top: 0.75rem;
        border-bottom: 0;
        border-radius: 6px 6px 0 0;

        a {
            display: inline-block;
            padding: .125rem 1.3rem;
            outline: 0;

            border: 1px dashed #666666;
        }
    }

    div.dtext-button-drawer {
        grid-row: 2;
        grid-column: 2;

        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(2.5rem, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(2.5rem, 1fr));
        align-items: center;

        min-width: 10rem;
        margin-left: 1rem;
        border-top: 0;
        border-radius: 0 0 6px 6px;
    }

    &[data-drawer=false] div.dtext-button-drawer-title,
    &[data-editing=false] div.dtext-button-drawer-title,
    &[data-drawer=false] div.dtext-button-drawer,
    &[data-editing=false] div.dtext-button-drawer {
        display: none;
    }

    div.dtext-character-counter-box {
        grid-row: 3;
        grid-column: 1;
        position: relative;
        bottom: 1.25rem;
        margin-bottom: -1.25rem;
        text-align: right;
        pointer-events: none;

        span.char-counter {
            padding: 0.25rem 2rem;
            font-size: 0.75rem;
            opacity: 0.5;
        }
    }

    &[data-editing=false] div.dtext-character-counter-box {
        display: none;
    }

    &.invalid {

        div.comment-header,
        textarea {
            border-color: orange
        }
    }
}
