@use "../utilities/fontawesome";

/* Header Customizer Styles */

nav.navigation {

    menu.nav-primary.custom {

        li {
            position: relative;
            display: inline-block;
            padding: 0.125rem 0;
            margin: 0 0.25rem;
            height: auto !important;

            &>a {
                padding: 0 0.5rem;
                outline: 0;
                white-space: nowrap;
            }
        }

        &[data-editing=true] {
            li[align=true] {
                background-color: #ffaf9940;
            }
        }

        &:not([data-editing=true]) {
            li:not([align=true]) {
                order: 10;
            }
            li[align=true] {
                order: 20;
                &.margined {
                    margin-left: auto;
                }
            }
        }

        &[data-forumdot=true] {

            li > a.tab-has-updates::after {
                content: unicode('f111');
                @include fontawesome.family;
                font-weight: 900;
                font-size: 0.5em;
                color: red;

                position: absolute;
                top: -3px;
                right: 0;
            }

        }

        a.tab-login {
            font-weight: 700;
            color: red;
        }
    }

    menu.nav-primary.custom[data-editing=true] li {
        background-color: #ffffff40;
    }

    menu.nav-primary.custom:not([data-editing=true]) li[data-right=true] {
        float: right;
    }

    menu.nav-secondary li.re6-bs-pmbutton {

        &.push-right { margin-left: auto; }

        a.resize-disabled {
            pointer-events: none;
            cursor: default;

            i { color: #666666; }
        }

        &[hide-resize-buttons=true] { display: none; }
    }
}

nav.navigation menu.nav-help, html.nav-toggled nav.navigation menu.nav-help {
    display: none;
}
