/* Image Scaler Styles */
section#image-extra-controls div#image-resize-cycle {

    select#resize-image_size {
        padding: 0.25rem 0.25rem;
        font-size: 1rem;
        margin: 0;
        margin-left: 1rem;
        border-radius: 4px;
        border: 0;
        line-height: 1.25em;
        font-family: inherit;

        @include themable {
            background: themed("color-section");
            color: themed("color-text");
        }
    }
}
