#re-infinite-scroll-next {
    display: inline-block;
    width: 100%;
}

#posts-container .instantsearch-seperator {
    grid-column: 1/-1;
    margin: 0 0 -2rem -10rem;
}

#re-infinite-scroll-loading {
    text-align: center;
    padding: 1rem 0;
}
