/* Instant Search Styles */
article.post-preview {

    &.filtered {
        display: none;
    }
}

#posts-container .instantsearch-seperator {
    grid-column: 1/-1;
    margin-top: 0.5em;
}

section#re-instantsearch {

    input[type=text] {
        z-index: 1;
        position: relative;
        width: 13em;
        padding: .125rem;
        border-right: 0;
        box-sizing: border-box;
        border-radius: 3px 0 0 3px;
    }

    button[type=submit] {
        padding: 2px 6px;
        background: #eee;
        width: 2em;
        border-left: 1px solid #ccc;
        border-radius: 0 3px 3px 0;
    }
}
