
div.deletion-reason-suggestions {
    padding: 1rem 0;

    &::before {
        content: "Reason";
        font-weight: 900;
    }
    
    & > a {
        // This is a dumb hack, but I don't care
        display: table;
    }
}

input.deletion-reason-input {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.25rem;
    font-family: monospace;
}
