
/* Moves the report button to the far right, to avoid accidental clicks */
#subnav-reportcommend {
    float: right;
}

/* Override to make the fit-height mode more reasonable */
#image.fit-window-vertical {
    max-height: calc(100vh - 5rem);
}

#wiki-page-copy-tag {
    margin-left: 0.5rem;
}

.deletion-diff {
    background: #ffffff10;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: .25rem;
    border: 1px solid #ffffff20;
    max-width: 60vw;
    max-height: 5rem;
    overflow-y: auto;
    @include scrollbars;
    
    &:before {
        content: "Added Tags";
        display: block;
        font-weight: bold;
        padding: 0 0.25rem;
    }
    
    span {
        display: inline-block;
        padding: 0.25rem;
        color: green;
        
        &:before {
            content: "+";
            @include nonselectable;
        }
    }
}

/* Reorder the menu tools */
.nav-re6-headercus { order: 1; }
.nav-re6-themecus { order: 2; }
.nav-re6-dmail { order: 3; }
.nav-re6-notifications { order: 4; }
.nav-re6-settings { order: 5; }
#nav-themes { display: none; }
#nav-settings { order: 7; }
#nav-account { order: 8; }

.nav-re6-headercus,
.nav-re6-themecus,
.nav-re6-dmail,
.nav-re6-notifications,
.nav-re6-settings {
    @media (min-width: 800px) {
        span { display: none; }
    }
}
