
/* Moves the report button to the far right, to avoid accidental clicks */
#subnav-reportcommend {
    float: right;
}

/* Override to make the fit-height mode more reasonable */
#image.fit-window-vertical {
    max-height: calc(100vh - 5rem);
}

#wiki-page-copy-tag {
    margin-left: 0.5rem;
}

.deletion-diff {
    background: #ffffff10;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: .25rem;
    border: 1px solid #ffffff20;
    max-width: 60vw;
    max-height: 5rem;
    overflow-y: auto;
    @include scrollbars;
    
    &:before {
        content: "Added Tags";
        display: block;
        font-weight: bold;
        padding: 0 0.25rem;
    }
    
    span {
        display: inline-block;
        padding: 0.25rem;
        color: green;
        
        &:before {
            content: "+";
            @include nonselectable;
        }
    }
}
