
/* Fixes the ticket display overflow if the ticket is too long */
.ticket-subject a {
    display: inline-block;
    line-height: 1.25em;
    height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Moves the report button to the far right, to avoid accidental clicks */
#subnav-reportcommend {
    float: right;
}

/* Override to make the fit-height mode more reasonable */
#image.fit-window-vertical {
    max-height: calc(100vh - 5rem);
}
