@use "../utilities/fontawesome";

/* Pool Navigator Styles */

div#nav-links,      // Old version,
div#nav-links-left, // Alt version
div#nav-links-top,  // New version
div#nav-links-bottom {

    li.post-nav {
        position: relative;

        div.post-nav-switch-box {

            input[type=radio] {
                display: none;
            }

            input[type=radio]+label:before {
                content: unicode("f0c8");
                @include fontawesome.family;
                display: inline-block;
                letter-spacing: 10px;
                cursor: pointer;
            }

            input[type=radio]:checked+label:before {
                content: unicode("f14a");
            }
        }

        div.post-nav-switch-box,
        div.post-nav-spacer {
            width: 25px;
            text-align: right;
            margin: 0 0.5rem;
        }

        span.search-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 0;
        }
    }

    .first { margin-right: 1rem; }
    .last { margin-left: 1rem; }
}

div#nav-links-left {
    li.post-nav div.post-nav-switch-box {
        margin: 0;
    }
}

div.set-nav span.set-name {
    a.remove-from-set-button {
        margin-left: 1rem;
    }
}
