
/* Pool Navigator Styles */

div#nav-links,      // Old version,
div#nav-links-left, // Alt version
div#nav-links-top,  // New version
div#nav-links-bottom {

    li.post-nav {
        position: relative;

        div.post-nav-switch-box {

            input[type=radio] {
                display: none;
            }

            input[type=radio]+label:before {
                content: "";
                display: inline-block;
                width: 1em;
                height: 1em;
                vertical-align: -0.1em;
                background-color: currentColor;
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z'/%3E%3C/svg%3E");
                mask-size: contain;
                mask-repeat: no-repeat;
                mask-position: center;
                letter-spacing: 10px;
                cursor: pointer;
            }

            input[type=radio]:checked+label:before {
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E");
            }
        }

        div.post-nav-switch-box,
        div.post-nav-spacer {
            width: 25px;
            text-align: right;
            margin: 0 0.5rem;
        }

        span.search-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 0;
        }
    }

    .first { margin-right: 1rem; }
    .last { margin-left: 1rem; }
}

div#nav-links-left {
    li.post-nav div.post-nav-switch-box {
        margin: 0;
    }
}

div.set-nav span.set-name {
    a.remove-from-set-button {
        margin-left: 1rem;
    }
}
