/* Post Viewer Styles */

// Post Navbar Tweak
div#image-and-nav {
    width: fit-content;

    div.nav-notice {
        margin-bottom: 0;
    }
}

// Image Toolbar
section#image-extra-controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0.25rem 0;

    & > div {
        margin: 0.25rem 0.5rem 0.25rem 0;
        &:last-child { margin-right: 0; }
        & > a { outline: 0; }
    }

    div.image-vote-buttons > a > span {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    div#image-download-link > a {
        width: 6rem;
        text-align: center;
        position: relative;
    }

    div#image-add-links > a,
    div#image-toggle-notes > a,
    div#image-custom-download-links > a {
        margin-right: 0.5rem;
        &:last-child { margin-right: 0; }
    }

    div#image-resize-cycle {
        select {
            height: 1.75rem;
            vertical-align: unset;
            cursor: pointer;
        }
    }

    div#image-custom-download-links > a {
        text-align: center;
        position: relative;

        &[loading=true] {
            color: transparent;

            &:before {
                content: "\f1ce";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                animation: fa-spin 2s infinite linear;
                color: #aaa;
                line-height: 1.3rem;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
}

div#c-posts div.parent-children.children-moved {
    display: block;

    & #has-children-relationship-preview,
    & #has-parent-relationship-preview {
        display: grid;
        justify-items: center;
        max-height: 50vh;
        @include scrollbars;
    }
}

#tag-list.tags-boldened {
    font-weight: bold;

    & .general-tag-list,
    & .meta-tag-list {
        font-weight: normal;
    }
}

#post-rating-text {
    font-weight: bold;
}

div#note-container {
    visibility: visible !important;

    &[data-hidden=true] {
        display: none !important;
    }
}

/* Special, left-positioned navbar */
body:not([re621-data-th-nav="true"]) div#nav-links-left { display: none; }
body[re621-data-th-nav="true"] div#nav-links-top { display: none; }

div#nav-links-left {

    & > div:not(:last-child),
    & > div > ul > li:not(:last-child) {
        border-bottom: 1px solid #666;
        padding-bottom: 0.5rem;
    }

    // if there are multiple elements, give the last one some space
    & > div > ul > li:last-child { padding-top: 0.5rem; }
    & > div > ul > li:first-child { padding-top: 0; }

    li.post-nav {
        height: unset !important;
        flex-wrap: wrap;
        justify-content: center !important;
        position: relative;

        div.post-nav-switch-box {
            position: absolute;
            left: 0;
            top: 0.125rem;
            &.vis-hidden { display: none; }
        }
        span.search-name { white-space: inherit; }
        span.pool-name {
            padding: 0 1.25rem !important;
            max-width: unset !important;
        }
        div.vis-hidden + span.pool-name {
            padding: 0 0.5rem !important;
        }

        div.nav-left-down {
            display: flex;
            justify-content: space-around;
            margin-top: 0.5rem;
            flex: 0 0 100%;
        }
    }
}

#post-related-images {
    li.list-break {
        height: 0.5em;
    }
}
