/* Post Viewer Styles */

// Post Navbar Tweak
div#image-and-nav {
    width: fit-content;

    div.nav-notice {
        margin-bottom: 0;
    }
}

// Image Toolbar
section#image-extra-controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0.25rem 0;

    & > div {
        margin: 0.25rem 0.5rem 0.25rem 0;
        &:last-child { margin-right: 0; }
        & > a { outline: 0; }
    }

    div.image-vote-buttons > a > span {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    div#image-download-link > a {
        width: 6rem;
        text-align: center;
        position: relative;
    }

    div#image-add-links > a,
    div#image-toggle-notes > a,
    div#image-custom-download-links > a {
        margin-right: 0.5rem;
        &:last-child { margin-right: 0; }
    }

    div#image-resize-cycle {
        select {
            height: 1.75rem;
            vertical-align: unset;
            cursor: pointer;
        }
    }

    div#image-custom-download-links > a {
        text-align: center;
        position: relative;

        &[loading=true] {
            color: transparent;

            &:before {
                content: "\f1ce";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                animation: fa-spin 2s infinite linear;
                color: #aaa;
                line-height: 1.3rem;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
}

div#c-posts div.parent-children.children-moved {
    display: block;

    & #has-children-relationship-preview,
    & #has-parent-relationship-preview {
        display: grid;
        justify-items: center;
    }
}

#tag-list.tags-boldened {
    font-weight: bold;

    & .general-tag-list,
    & .meta-tag-list {
        font-weight: normal;
    }
}

#post-rating-text {
    font-weight: bold;
}

div#note-container {
    visibility: visible !important;

    &[data-hidden=true] {
        display: none !important;
    }
}
