/* Post Viewer Styles */
section#image-extra-controls {
    display: inline-grid !important;
    grid-template-columns: max-content max-content max-content max-content auto;
    margin: 0.5rem 0;
    grid-column-gap: 0.5rem;

    div {
        margin: 0;
    }

    div#image-score-links {

        background: #19586b;

        @include themable {
            //background: themed("color-section");
            color: themed("color-text");
        }

        &.score-up {
            @include themable {
                background: themed("color-success");
            }
        }

        &.score-down {
            @include themable {
                background: themed("color-danger");
            }
        }

        span.image-score-down a,
        span.image-score-up a {
            @include themable {
                color: themed("color-text");
            }

            &:hover {
                @include themable {
                    color: themed("color-text-muted");
                }
            }
        }

        span.image-score-num {
            margin: 0 1rem;

            @include themable {
                color: themed("color-text");
            }
        }
    }

    div#image-resize-cycle {
        form.grid-form {
            width: unset;
            margin: 0.25rem 0;
        }
    }

    div#image-add-links {
        margin-left: 0.25rem;

        a {
            margin: 0.25rem;

            @include themable {
                background: themed("color-section");
                color: themed("color-text");
            }

            &:hover {
                @include themable {
                    color: themed("color-link-hover");
                }
            }
        }
    }

    div#image-score-links,
    div.fav-buttons>button,
    div.fav-buttons>button::after,
    div#image-download-link a,
    div#image-add-links a,
    div#image-resize-cycle select,
    div#image-resize-cycle a {
        display: inline-flex;
        align-items: center;
        height: 2rem;

        font-size: 1rem;
        padding: 0rem 0.5rem !important;
        border-radius: 4px;
        line-height: 1.25em;
    }
}

#post-information>ul>li {
    & .colorize-rating-s {
        color: #3e9e49;
    }

    & .colorize-rating-q {
        color: #ffe666;
    }

    & .colorize-rating-e {
        color: #e45f5f;
    }
}

div#c-posts div.bottom-notices {
    display: block;

    & #has-children-relationship-preview {
        display: grid;
        justify-items: center;
    }
}
