/** Fixes to the vanilla profile structure */
div#c-users div#a-show {

    .bottom-section {
        display: block;
        margin-top: 1rem;
    }

    .posts-section .posts {
        display: block
    }

    /* Re-position the favorites section */
    div.box.user-favorites,
    div.box.user-uploads {
        display: inline-block;
        position: relative;
        flex: 0 0 100%;
        height: 12rem;
        min-width: 2rem;
        width: 100%;

        background: #ffffff10;

        margin-bottom: 1em;
        border-radius: 6px;

        h2,
        h2 {
            border-bottom: 0.25rem solid #00000060;
            background: #ffffff10;

            position: absolute;
            bottom: -2.5rem;
            transform: rotate(270deg);
            transform-origin: top left;
            width: 12rem;
            height: 2rem;
            line-height: 2rem;
            padding: 0 0 0.25rem;
            text-align: center;
            overflow: hidden;
            border-radius: 6px;
        }

        div.vertical-section,
        div.vertical-section {
            height: 12rem;
            flex-direction: row-reverse;
            align-items: flex-end;
            justify-content: space-evenly;
            margin: 0 1rem 0 3rem;
        }

        h4,
        h4 {
            text-align: center;

            /* Fix for the privacy mode */
            position: absolute;
            left: 0;
            right: 0;
            z-index: 100;
        }
    }

    /* Unmargin about sections */
    .about-section .about-piece {
        margin: 0 1rem 0 0;

        &:last-child {
            margin-right: 0;
        }
    }

}

