/** Collapsable Sidebar **/
a#sidebar-collapse {
    position: relative;
    z-index: 10;
    font-family: monospace;
    grid-column: 1 / -1;
    width: 1rem;
    line-height: 0;

    &:after { content: "<<"; }
}

a#sidebar-collapse.collapsed {
    
    &:after { content: ">>"; }
}

aside#sidebar.collapsed {
    width: 0 !important;
    overflow: hidden;
}
