/* Settings Controller Styles */
div.settings-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#changelog-list ul {
    list-style: lower-greek;
    margin-left: 1.25rem;
}

span#project-update-button {

    &[data-available=false] {
        visibility: hidden;
    }

    a {
        padding: 0.25rem;
        border-radius: 4px;
        background: green;
        color: white;

        &:hover {
            background: darkgreen;
        }
    }
}
