/* Vanilla Overrides */
// Compatibility fix for modals
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    input:focus,
    textarea:focus,
    select:focus {
        outline: 0;
    }

    div#page {
        flex: 1;
    }
}

// Gridify the header
@media (min-width: 800px) {
    header#top {
        h1 {
            display: none !important;
        }

        nav#nav {
            display: grid !important;
            grid-template-columns: auto 1fr auto;

            menu.logo:not(.main) {
                background: unset;
                margin: 0 0 0 0.5rem;
                padding: 0.25rem 0;
                font-weight: 700;
            }

            menu.logo a {
                padding: 6px 10px;
            }

            menu.main {
                overflow: hidden;
                white-space: nowrap;
                padding-left: 0;
                padding-right: 0;
            }

            menu.extra:not(.main) {
                background: unset;
                margin: 0 0.5rem 0 0;
                padding: 0.25rem 0;
                font-weight: 700;
            }

            menu.extra a {
                padding: 6px 10px;
            }

            menu.submenu {
                grid-row: 2;
                grid-column: 1;
                grid-area: 2 / 1 / 2 / 4;
                height: 1.125rem;
            }
        }
    }
}


/* Taglist Helpers */
#tag-box>ul,
#tag-list>ul {

    margin-left: -0.25rem;
    margin-right: -0.5rem;

    li {

        display: flex;

        a.search-inc-tag,
        a.search-exl-tag {
            padding-right: 0.125rem;
        }

        a.search-tag {
            max-width: min-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span.post-count {
            margin: 0 0.5rem 0 0.5rem;
            min-width: fit-content;
        }

        div.tag-actions {
            min-width: fit-content;
            margin-left: auto;

            a {
                visibility: hidden;
            }
        }

        &:hover {

            a.search-tag {
                white-space: normal;
                max-width: unset;
            }

            span.post-count {
                display: none;
            }

            div.tag-actions a {
                visibility: visible;
            }
        }

    }
}
