@use "../utilities/mixins";

/* Vanilla Overrides */

// Compatibility fix for modals
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    input:focus,
    textarea:focus,
    select:focus {
        outline: 0;
    }

    div#page {
        flex: 1;
        position: relative;
    }
}

// Fix for notice layering
div#notice {
    z-index: 10000;
}

// Fix guest warning layering
div.guest-warning {
    z-index: 10001;
}

// Fix edit page styling
div#c-users div#a-edit .active {
    color: unset;
}
#basic-settings-section .dtext-previewable {
    width: 80%;
}

// Stickify the header
body[data-sticky-header=true] {
    header#top {
        position: sticky;
        z-index: 400;
        top: -1px;
    }

    div#re621-search {

        // This is necessary to make the transition smooth
        margin-top: -3.5rem !important;
        padding-top: 3.5rem !important;

        &.re621-search-sticky {
            padding-top: 3.5rem !important;
        }
    }
}

// Stickify the quick tags form
body[data-sticky-editbox=true] {
    div#quick-edit-div {
        position: sticky;
        top: 0;
        z-index: 400;
    }
}


/* Fix Sidebar Sections */
body {
    aside#sidebar div#re621-search {
        position: relative;
        margin: -0.5rem -0.5rem 0;
        padding: 0.5rem 0.5rem;
        border-radius: 6px 6px 0 0;
        top: -1px;
        z-index: 1;
    }

    &[data-sticky=true] aside#sidebar {
        
        div#re621-search,
        section#downloader-box,
        section#fav-downloader-box { position: sticky; }
    }

    div#page {
        &.mode-edit div#re621-search.re621-search-sticky { background-color: #828028; }
        &.mode-add-fav div#re621-search.re621-search-sticky { background-color: #104e17; }
        &.mode-remove-fav div#re621-search.re621-search-sticky { background-color: #07240b; }
        &.mode-vote-up div#re621-search.re621-search-sticky { background-color: #288233; }
        &.mode-vote-down div#re621-search.re621-search-sticky { background-color: #822828; }
        &.mode-tag-script div#re621-search.re621-search-sticky { background-color: #4f114f; }
        &.mode-lock-rating div#re621-search.re621-search-sticky { background-color: #aa3; }
        &.mode-lock-note div#re621-search.re621-search-sticky { background-color: #3aa; }
        &.mode-approve div#re621-search.re621-search-sticky { background-color: #48c; }
        &.mode-delete div#re621-search.re621-search-sticky { background-color: #4e1010; }
    }
}

div#page aside#sidebar {

    section {
        margin-bottom: 0.5rem;
    }

    section#search-box form,
    section#re621-insearch form,
    section#mode-box form {
        display: grid;
        grid-template-columns: auto 2rem;

        input[type=text] {
            z-index: unset;
            position: unset;
            width: unset;
            padding: 0.125rem;
            border: 0;
            border-radius: 0.125rem 0 0 0.125rem;
        }

        button[type=submit] {
            padding: unset;
            background: #eee;
            width: unset;
            border-left: 1px solid #ccc;
            border-radius: 0 0.125rem 0.125rem 0;
        }

        select[name=mode] {
            width: unset;
            grid-column: span 2;
            border-radius: 0.125rem;
        }
    }
    
}


/* Taglist Helpers */
#tag-box,
#tag-list {

    & > ul {
      li {
        padding-right: 0;
        span.tag-list-actions {
          gap: 0.125rem;
          padding-left: 0.125rem;
          .tag-list-quick-blacklist {
            display: unset;
            visibility: hidden;
          }
          span.tag-list-subscribe a[subscribed=false] {
            visibility: hidden;
          }
        }

        &:hover {
          span.tag-list-actions {
            button.tag-list-quick-blacklist { visibility: visible; }
            span.tag-list-subscribe a { visibility: visible; }
          }
        }
      }
    }

    &[data-shorten-tagnames=true]>ul {

        li {
            span.tag-wrap { display: inline-grid; }
            &:hover {
                span.tag-wrap { margin-right: 1rem; }
                span.post-count { display: none; }
            }
        }

        li:not(:hover) {

            span.tag-wrap {
                display: inline-grid;
                grid-template-columns: auto max-content;
                align-items: center;

                a.search-tag {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    &[data-hide-plusminus=true] {
        a.tag-list-inc,
        a.tag-list-exl { display: none; }
    }
}

/* Quick-add Tags Override */
div#c-posts div#quick-edit-div textarea {
    width: 100%;
}

/* Error Handling Styles */
textarea.error-feedback {
    width: 100%;
    min-height: 25vh;
    overflow-x: hidden;
    white-space: pre;

    @include mixins.scrollbars;
}

/* Increase the size of blacklist form */
textarea#user_blacklisted_tags {
    height: 400px;
}

div.blacklist-character-counter-box {
    width: 80%;
    text-align: right;
    margin-top: -1rem;
    font-size: 0.75rem;
    opacity: 0.5;
    pointer-events: none;
}

/* Tweak the set cover page */
div#page div#c-sets div#a-show span.set-viewposts {
    display: block;
    padding-top: 1rem;
    a { margin-right: 0.5rem; }
}

/* Hide the blacklist sidebar section */
body[data-hide-blacklist=true] section#blacklist-box {
    display: none !important;
}

/* Fix the overflow in the diff-list */
.diff-list del, .diff-list ins {
    white-space: nowrap;
}


/* Update Notifications */
// This was copied from the old subscriptions manager
// It needs to be streamlined for its actual purpose
.update-notification:not([data-updates="0"]) {
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 0.5em;
        height: 0.5em;
        background-color: red;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;

        position: absolute;
        top: -3px;
        right: 0;
    }
}

.update-notification[data-loading=true] {

    position: relative;

    &::after {
        content: "";
        display: block;
        width: 0.75em;
        height: 0.75em;
        background-color: currentColor;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M222.7 32.1c5 16.9-4.6 34.8-21.5 39.8C121.8 95.6 64 169.1 64 256c0 106 86 192 192 192s192-86 192-192c0-86.9-57.8-160.4-137.1-184.1c-16.9-5-26.6-22.9-21.5-39.8s22.9-26.6 39.8-21.5C434.9 42.1 512 140 512 256c0 141.4-114.6 256-256 256S0 397.4 0 256C0 140 77.1 42.1 182.9 10.6c16.9-5 34.8 4.6 39.8 21.5z'/%3E%3C/svg%3E");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;

        position: absolute;

        animation: spin 1.0s linear infinite;
    }
}
