/* Vanilla Overrides */
// Compatibility fix for modals
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    input:focus,
    textarea:focus,
    select:focus {
        outline: 0;
    }

    div#page {
        flex: 1;
        position: relative;
    }
}

// Fix for notice layering
div#notice {
    z-index: 10000;
}

// Fix guest warning layering
div.guest-warning {
    z-index: 10001;
}

// Fix edit page styling
div#c-users div#a-edit .active {
    color: unset;
}
#basic-settings-section .dtext-previewable {
    width: 80%;
}

// Gridify the header
header#top {
    h1 {
        display: none !important;
    }

    nav#nav.grid {
        display: grid !important;
        grid-template-columns: auto 1fr auto;

        menu.logo:not(.main) {
            background: unset;
            margin: 0 0 0 0.5rem;
            padding: 0.25rem 0;
            font-weight: 700;
        }

        menu.logo a {
            padding: 6px 10px;
        }

        menu.main {
            overflow: hidden;
            white-space: nowrap;
            padding-left: 0;
            padding-right: 0;
        }

        menu.extra:not(.main) {
            background: unset;
            margin: 0 0.5rem 0 0;
            padding: 0.25rem 0;
            font-weight: 700;
        }

        menu.extra a {
            padding: 6px 10px;
        }

        // Technically, this would be menu.submenu
        // But sometimes, that class gets added to the wrong element
        menu:last-child {
            grid-row: 2;
            grid-column: 1;
            grid-area: 2 / 1 / 2 / 4;
            height: 1.125rem;
        }
    }
}

// Stickify the header
body[data-sticky-header=true] {
    header#top {
        position: sticky;
        z-index: 9000;
        top: -1px;
    }

    div#re621-search {

        // This is necessary to make the transition smooth
        margin-top: -3.5rem !important;
        padding-top: 3.5rem !important;

        &.re621-search-sticky {
            padding-top: 3.5rem !important;
        }
    }
}

// Stickify the quick tags form
body[data-sticky-editbox=true] {
    div#quick-edit-div {
        position: sticky;
        top: 0;
        z-index: 400;
    }
}


/* Gridify the sidebar */
div#c-posts div#a-index,
div#c-posts div#a-show,
div#c-favorites div#a-index {
    display: grid;
    grid-template-columns: 13rem auto;
    grid-column-gap: 1rem;

    aside#sidebar {
        width: unset;
        float: unset;
    }

    section#content {
        margin-left: unset;
        padding-left: unset;
        position: relative;
    }
}


/* Fix Sidebar Sections */
body {
    aside#sidebar div#re621-search {
        position: relative;
        margin: -0.5rem -0.5rem 0;
        padding: 0.5rem 0.5rem;
        border-radius: 6px 6px 0 0;
        top: -1px;
        z-index: 1;
    }

    &[data-sticky=true] aside#sidebar {
        
        div#re621-search,
        section#downloader-box,
        section#fav-downloader-box { position: sticky; }
    }
}
div#page aside#sidebar {

    section {
        margin-bottom: 0.5rem;
    }

    section#search-box form,
    section#re621-insearch form,
    section#mode-box form {
        display: grid;
        grid-template-columns: auto 2rem;

        input[type=text] {
            z-index: unset;
            position: unset;
            width: unset;
            padding: 0.125rem;
            border: 0;
            border-radius: 0.125rem 0 0 0.125rem;
        }

        button[type=submit] {
            padding: unset;
            background: #eee;
            width: unset;
            border-left: 1px solid #ccc;
            border-radius: 0 0.125rem 0.125rem 0;
        }

        select[name=mode] {
            width: unset;
            grid-column: span 2;
            border-radius: 0.125rem;
        }
    }
    
}


/* Taglist Helpers */
#tag-box,
#tag-list {

    &>ul {

        // margin-right: -1rem;

        li {
            display: flex;
            line-height: 1rem;
            margin-bottom: 1px;

            position: relative;

            a.search-inc-tag,
            a.search-exl-tag {
                padding-right: 0.125rem;
            }

            span.tag-wrap {
                margin-right: 0.25rem;
            }

            div.tag-actions {
                min-width: fit-content;
                margin-left: auto;
                line-height: 1rem;

                position: absolute;
                right: -1rem;

                span {
                    margin: 0 0.125rem;
                    min-width: fit-content;

                    &.tag-action-blacklist {
                        display: none;
                    }

                    &.tag-action-subscribe a.subscribe {
                        visibility: hidden;
                    }
                }
            }

            span.post-count {
                margin-left: 0.5rem;
                white-space: nowrap;
                font-size: 90%;
            }

            &:hover {

                a.search-tag {
                    white-space: normal;
                    max-width: unset;
                }

                div.tag-actions {

                    span {

                        &.tag-action-blacklist {
                            display: inline-block;
                        }

                        &.tag-action-subscribe a.subscribe {
                            visibility: visible;
                        }
                    }
                }
            }

        }

    }

    &[data-shorten-tagnames=true]>ul {

        li {
            span.tag-wrap { display: inline-grid; }
            &:hover {
                span.tag-wrap { margin-right: 1rem; }
                span.post-count { display: none; }
            }
        }

        li:not(:hover) {

            span.tag-wrap {
                display: inline-grid;
                grid-template-columns: auto max-content;
                align-items: center;

                a.search-tag {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    &[data-hide-plusminus=true] {
        a.search-inc-tag,
        a.search-exl-tag { display: none; }
    }
}

/* Quick-add Tags Override */
div#c-posts div#quick-edit-div textarea {
    width: 100%;
}

/* Error Handling Styles */
textarea.error-feedback {
    width: 100%;
    min-height: 25vh;
    overflow-x: hidden;
    white-space: pre;

    @include scrollbars;
}

/* Increase the size of blacklist form */
textarea#user_blacklisted_tags {
    height: 400px;
}

div.blacklist-character-counter-box {
    width: 80%;
    text-align: right;
    margin-top: -1rem;
    font-size: 0.75rem;
    opacity: 0.5;
}

/* Fix the issue with poorly colored upload form switches */
div#c-uploads div#a-new .toggle-button.active {
    background-color: #e8c446 !important;
}
