
// Notifications window custom tabs
tabbed.config-tabs {
    position: relative;
    display: grid;
    height: 100%;
    box-sizing: border-box;

    grid-template-columns: 2rem auto;
    margin-left: -0.75rem;
    padding-top: 0.5rem;

    ul.ui-tabs-nav {
        position: fixed;
        width: 2rem;
        display: grid;
        grid-template-rows: 0 min-content min-content min-content min-content auto 0;
        grid-row-gap: 0.5rem;
        align-items: baseline;
        height: 81vh;

        border-right: 1px solid #ffffff30 !important;
        border-radius: 0;

        li.ui-tabs-tab {
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            padding: 0.5rem;
            align-self: end;
            border-radius: 0;
            position: relative;

            &:hover, &.ui-tabs-active {
                background-color: #ffffff20;
            }

            a.notification {

                @keyframes spinner {
                    to { transform: rotate(360deg); }
                }

                &:not([updates="0"])::after {
                    content: unicode("f111");
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 0.5em;
                    color: red;

                    position: absolute;
                    bottom: 0.125rem;
                    right: 0.25rem;
                }

                &[loading=true]::after {
                    content: unicode("f110");
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 0.5em;
                    color: inherit;

                    position: absolute;
                    bottom: 0.05rem;
                    right: 0.25rem;

                    animation: spinner 1s linear infinite;
                }
            }
        }
    }

    div.ui-tabs-panel {
        margin-left: 0.5rem;
        grid-column: 2;
        width: var(--window-width, 45vw);
    }

    // More compact "Manual Update" / "Clear Cache" buttons
    form-section:not([columns]).subscription-control-btn {
        grid-template-columns: 1fr 1fr;
        form-input { grid-column: span 1; }
    }
}

div#modal-container div.re621-ui-dialog div.ui-dialog-content.subscription-wrapper {
    overflow-x: auto !important;
}

#subscriptions-controls {
    justify-content: center;
    overflow: hidden;
}


// Subscribe / Unsubscribe buttons
a.subscribe-button-minor {

    &::after {
        content: unicode("f004");
        font-family: "Font Awesome 5 Free";
        font-weight: 500;
    }

    &[subscribed=true]::after {
        font-weight: 700;
    }
}

a.subscribe-button-major {
    display: block;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: .25rem .5rem;
    border: 0;
    margin: 0 0.5rem;
    font-weight: 500;

    background: #006400;
    color: #fff;
    float: right;
    box-shadow: 0px 0px 1px 0px black;

    &:hover {
        background: #004b00;
        color: #fff;
    }

    &[subscribed=true] {
        background: maroon;
        &:hover { background: #670000; }
    }
}

// Override for ForumTracker
div#c-forum-topics div#a-show h1:first-of-type {
    position: relative;
    padding-right: 8rem;

    a.subscribe-button-major {
        position: absolute;
        right: 0;
        top: 0.25rem;
    }
}


// Notifications window settings tab
tabbed.config-tabs form.form-section {
    margin-left: 0.25rem;
}

tabbed.config-tabs form.form-section:not([columns]),
tabbed.config-tabs form.form-section[columns="1"],
tabbed.config-tabs form-section:not([columns]),
tabbed.config-tabs form-section[columns="1"] {
    width: 100%;
    grid-template-columns: 5.625rem 12rem;
}
tabbed.config-tabs form.form-section[formspan="2"],
tabbed.config-tabs form.form-section[columns="2"],
tabbed.config-tabs form-section[columns="2"] {
    width: 100%;
    grid-template-columns: 5.625rem 12rem 5.625rem 12rem;
}

tabbed.config-tabs form-section.subscription-settings > form-section {
    grid-template-columns: 5.25rem 12rem !important;
    &:nth-child(odd) {
        padding-right: 0.25rem;
    }
    &:nth-child(even) {
        justify-content: right;
    }
    &:not(:nth-last-of-type(-n+2)) {
        margin-bottom: 0.5rem;
    }
    input[type=text] { padding: 0 0.75rem; }
    .update-timer {
        opacity: 0.5;
        input {
            font-family: monospace;
            font-size: 1.1rem;
            background: #ffffff20;
        }
    }
    .failed-attempt {  color: gold; }
}

.subscription-tutorial {
    font-family: monospace;
    margin-bottom: -0.5rem;
    font-size: 0.9rem;
}

sb-enwrap {
    input.sb-enfind {
        width: 100%;
        margin-bottom: 0.5rem;
        border-radius: 0;
    }

    sb-encont {
        display: grid;
        max-height: 40vh;
        overflow: hidden auto;

        @include scrollbars;

        sb-enitem {
            display: block;
            a.sb-unsub { margin-right: 0.5rem; }
        }
    }
}

sb-enwrap[content=Tags] {

    sb-encont {
        grid-template-columns: 1fr 1fr;
    }
}

sb-enwrap[content=Comments] {

    sb-encont {
        grid-template-columns: 1fr 1fr;
    }
}


// Generic subscription update entry
sb-ctwrap {
    display: block;
    width: var(--window-width, 45vw); // based on the tag updates grid

    &[state=done] sb-status { display: none !important; }
    &:not([state=done]) sb-canvas { display: none !important; }

    sb-canvas { // Notifications canvas
        subitem { order: 20; }
        subitem[new=true],
        subitem[new=maybe] { order: 0; }

        subdivider {
            display: flex;
            grid-column: span 5;
            align-items: center;
            text-align: center;
            order: 10;

            color: #ffffff50;

            &::before,
            &::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #ffffff50;
            }

            &::before { margin-right: 1rem; }
            &::after { margin-left: 1rem; }
        }
    }

    &[added="0"] sb-canvas subdivider {
        display: none;
    }

    sb-status { // Notifications status log
        display: block;
        padding: 6rem;
        font-family: monospace;
        font-size: 1.25rem;
    }
}


// TagTracker style overrides
sb-ctwrap[content=Tags] sb-canvas {

    $sub-row: var(--thumb-width, 8.5vw);
    $sub-rowgap: 0.5rem;
    $sub-col: var(--thumb-width, 8.5vw);
    $sub-colgap: 0.5rem;
    
    $sub-colcount: 5;

    display: grid;
    width: var(--window-width, 45vw);

    grid-template-columns: repeat($sub-colcount, $sub-col);
    grid-column-gap: $sub-colgap;
    grid-row-gap: $sub-rowgap;
    justify-content: space-between;

    subitem {
        display: block;
        overflow: hidden;
        position: relative;
        background: #ffffff05;
        height: $sub-row;

        img {
            object-fit: cover;
            width: 100%;
            height: $sub-row;
        }

        a.delete-link {
            position: absolute;
            top: -0.75rem;
            right: -1.25rem;
            width: 3rem;
            height: 2rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: #96181877;
            transform: rotate(45deg);
            transform-origin: center;
            box-shadow: 1px 1px 5px 0px #00000060;
            padding-bottom: 0.05rem;
            box-sizing: border-box;

            visibility: hidden;

            &:hover {
                background: #961818;
                color: white;
            }

            span { transform: rotate(-45deg); }
        }

        &:hover a.delete-link { visibility: visible; }
    }
}


// PoolTracker style override
sb-ctwrap[content=Pools] sb-canvas {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;

    subitem {
        // I don't know why, but this is necessary
        grid-column: 1;

        display: grid;
        grid-template-columns: 7rem auto 1rem;
        grid-template-rows: auto 1.25rem;
        grid-column-gap: 0.5rem;
        height: 5rem;
        background: #ffffff10;
        margin-right: -0.5rem;
        width: 100%;

        a.img-link {
            grid-row: span 2;

            img {
                width: 7rem;
                height: 5rem;
                object-fit: cover;
            }
        }

        div.info-section {
            grid-area: 1 / 2;
            padding-top: 0.25rem;

            a {
                display: block;
                font-size: 1.25rem;
                max-width: 28.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            div { color: #777; }
        }

        a.all-link {
            grid-area: 2 / 2;
            align-self: center;
        }

        a.delete-link {
            grid-area: 1 / 3 / span 2;
            background: #ffffff10;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ddd;

            &:hover { background: #ffffff25; }
        }
    }
}


// ForumTracker style override
sb-ctwrap[content=Forums] sb-canvas {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;

    subitem {
        // I don't know why, but this is necessary
        grid-column: 1;

        display: grid;
        grid-template-columns: auto 1rem;
        grid-column-gap: 0.5rem;
        height: 5rem;
        background: #ffffff10;
        margin-right: -0.5rem;
        width: 100%;

        div.info-section {
            align-self: center;
            padding-left: 0.5rem;

            a {
                display: block;
                font-size: 1.25rem;
                max-width: 28.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            div { color: #777; }
        }

        a.delete-link {
            background: #ffffff10;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ddd;

            &:hover { background: #ffffff25; }
        }
    }
}


sb-ctwrap[content=Comments] sb-canvas {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;

    subitem {
        // I don't know why, but this is necessary
        grid-column: 1;

        display: grid;
        grid-template-columns: 7rem auto 1rem;
        grid-column-gap: 0.5rem;
        height: 5rem;
        background: #ffffff10;
        margin-right: -0.5rem;
        width: 100%;

        a.img-link {

            img {
                width: 7rem;
                height: 5rem;
                object-fit: cover;
            }
        }

        div.info-section {
            padding-top: 0.25rem;

            a {
                display: block;
                font-size: 1rem;
                max-width: 28.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            div { color: #777; }
            div.comment-body {
                height: 2.2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 28rem;
                color: #ccc;
            }
        }

        a.delete-link {
            background: #ffffff10;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ddd;

            &:hover { background: #ffffff25; }
        }
    }
}
