
tag-suggester {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);

    width: inherit;
    margin: 0.25rem 0;
    overflow: hidden;

    font-family: monospace;
    font-size: 1.05rem;

    border: 1px solid #666;
    border-radius: 0.25rem;

    &:not([count="0"]):before {
        content: "Suggested Tags";
        grid-column: span 10;
        padding: 0.075rem 0 0.075rem 1.35rem;
    }

    tag-entry {
        position: relative;
        padding: 0.075rem 0 0.075rem 1.35rem;

        & > a:first-child {
            margin-right: 0.5rem;
        }
    }

}
