/* Thumbnail Enhancer Styles */

// Restyling post-previews
div#page div#posts-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-between;

    article.post-preview {
        overflow: visible;

        box-shadow: none;
        transition: box-shadow 0.25s linear;

        &.highlight {
            box-shadow: 0px 0px 0px 5px #ffffff60;
        }

        &>a.preview-box {
            display: initial;
            color: white;

            outline: 0;

            &::before {
                padding: 1px 2px 0;
                left: -5px;
                opacity: 0.9;
            }

            div.preview-load {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                display: none;
                justify-content: center;
                align-items: center;
            }

            &.loading div.preview-load {
                display: flex;
            }

            div.preview-extras {
                display: none;

                flex-flow: wrap;
                justify-content: center;

                opacity: 0.9;
                font-size: 0.8rem;
                line-height: 1rem;
                font-weight: bold;

                width: stretch;
                position: absolute;
                overflow-wrap: break-word;
                cursor: default;

                min-width: fit-content;

                span {
                    margin: 0 0.25rem;
                    white-space: nowrap;

                    &>span {
                        cursor: pointer;
                    }
                }
            }

            div.preview-voting {
                display: none;
                position: absolute;
                left: -2rem;
                top: 0;
                bottom: 0;
                grid-template-rows: repeat(auto-fill, 25%);
                margin-top: 0.25rem;

                button.voteButton {
                    box-sizing: content-box;
                    margin: 0.125rem 0;
                    border-radius: 6px 0 0 6px;
                    outline: 0;
                }
            }

            &.loading div.preview-extras {
                display: none;
            }
        }
    }
}

// Resize Thumbnails
div#page div#posts-container {

    &[data-thumb-crop=true] {
        grid-template-columns: repeat(auto-fill, var(--thumbnail-size, 150px));

        article.post-preview {
            margin: 0 0 1rem;
            height: auto;
            width: var(--thumbnail-size, 150px);
        }

        article.post-preview img {
            width: var(--thumbnail-size, 150px);
            height: calc(var(--thumbnail-size, 150px) * var(--thumbnail-ratio, 1.3));
            object-fit: cover;
            max-width: unset;
            max-height: unset;
        }
    }
}

// Ribbons
div#page div#posts-container {

    picture.picture-container {
        position: relative;
        display: inline-block;

    }

    & div.thumb-ribbon {
        display: none;
    }

    &[data-thumb-ribbons=true] {

        div.thumb-ribbon {
            position: absolute;
            top: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            width: 0.75rem;
            height: 0.75rem;

            span {
                display: flex;

                min-width: 150%;
                height: 0.5rem;

                transform-origin: center;

                background: purple;
                box-shadow: 0 0 10px -3px black;
                border: 1px solid #00000060;
            }

            $status-flagged: orangered;
            $status-pending: blue;
            $rel-children: forestgreen;
            $rel-parent: yellow;

            &.thumb-ribbon-flagged span {
                background: $status-flagged;
            }

            &.thumb-ribbon-pending span {
                background: $status-pending;
            }

            &.thumb-ribbon-flagged.thumb-ribbon-pending span {
                background: linear-gradient(90deg, $status-flagged 50%, $status-pending 50%);
            }

            &.thumb-ribbon-has-children span {
                background: $rel-children;
            }

            &.thumb-ribbon-has-parent span {
                background: $rel-parent;
            }

            &.thumb-ribbon-has-children.thumb-ribbon-has-parent span {
                background: linear-gradient(90deg, $rel-parent 50%, $rel-children 50%);
            }

            &.right {
                right: 0;

                span {
                    transform: rotate(45deg);
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }

            &.left {
                left: 0;

                span {
                    transform: rotate(-45deg);
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        // disable vanilla borders
        article.post-preview.post-status-flagged img,
        article.post-preview.post-status-pending img,
        article.post-preview.post-status-deleted img,
        article.post-preview.post-status-has-parent img,
        article.post-preview.post-status-has-children img {
            border: 0;
        }
    }

    &:not([data-thumb-rel-ribbons=true]) {
        div.thumb-ribbon.rel-ribbon {
            display: none;
        }
    }

}

// Voting Buttons
div#page div#posts-container {

    &[data-thumb-vote=true] article.post-preview:hover {
        &>a.preview-box {
            div.preview-voting {
                display: grid;
            }
        }
    }
}

// Zoom on Hover
div#page.mode-view div#posts-container,
div#page div#posts-container[data-thumb-zoom-context=false],
div#page div#a-popular div#posts-container {

    &[data-thumb-zoom=true] article.post-preview.loaded:hover {
        position: relative;
        overflow: visible;

        &>a.preview-box {
            transform: translate(-50%, -50%);

            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 10;

            min-width: 100%;
            min-height: 100%;

            &::before {
                display: none;
            }

            img {
                object-fit: cover;
                width: unset;
                height: unset;

                max-width: calc(var(--thumbnail-size, 150px) * var(--thumbnail-zoom, 2));
                max-height: calc(calc(var(--thumbnail-size, 150px) * var(--thumbnail-ratio, 1.3)) * var(--thumbnail-zoom, 2));

                min-width: 100%;
                min-height: 100%;
            }

            div.preview-extras {
                display: flex;
            }
        }

        div.desc {
            display: none;
        }
    }
}
