/* Thumbnail Enhancer Styles */

// Restyling post-previews
div#page div#posts-container,
div#page div#c-favorites div#posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-between;
}

div#postContainerOverlay {
    position: absolute;
    top: -0.5rem;
    left: -1rem;
    right: -0.5rem;
    bottom: -0.5rem;
    z-index: 10000;
    backdrop-filter: blur(0.5rem);
    border-radius: 6px;

    span {
        display: block;
        text-align: center;
        padding-top: 25vh;
        font-size: 3rem;
    }
}

.post-preview {
    overflow: visible;

    box-shadow: none;
    transition: box-shadow 0.25s linear;

    z-index: 100;

    &:hover {
        z-index: 150;
    }

    &.highlight {
        box-shadow: 0px 0px 0px 5px #ffffff60;
    }

    a.preview-box {
        display: inline-block;
        color: white;

        outline: 0;
        width: 100%;

        position: relative;

        &::before {
            padding: 1px 2px 0;
            left: -5px;
            opacity: 0.9;
        }

        div.preview-load {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            display: none;
            justify-content: center;
            align-items: center;
        }

        &.loading div.preview-load {
            display: flex;
        }

        div.preview-voting {
            display: block;
            position: absolute;
            z-index: 100;
            bottom: -1rem;
            left: 0;
            right: 0;
            height: 1rem;
            white-space: nowrap;

            visibility: hidden;

            button.voteButton {
                position: relative;
                bottom: 1.5rem;

                margin: 0 0.25rem;
                padding: 0.25rem 0.75rem 0rem;
                border-radius: 0.75rem 0.75rem 0 0;
                box-shadow: 0 -5px 10px #ffffff10;

                &.score-favorite {
                    color: #c3a816;
                }

                &.favButton {
                    position: absolute;
                    left: -0.25rem;
                    bottom: 0;
                    padding: 0.25rem 0.35rem 0.125rem 0.125rem !important;
                    border-radius: 0 0.75rem 0 0 !important;
                    font-size: 1rem;
                }
            }
        }

        &.loading div.preview-extras {
            display: none;
        }
    }

    div.preview-extras {
        display: none;

        flex-flow: wrap;
        justify-content: center;

        opacity: 0.9;
        font-size: 0.8rem;
        line-height: 1rem;
        font-weight: bold;

        width: stretch;
        position: absolute;
        overflow-wrap: break-word;
        cursor: default;

        min-width: fit-content;

        span {
            margin: 0 0.25rem;
            white-space: nowrap;

            &>span {
                cursor: pointer;
            }
        }
    }

    div.desc {
        height: 1rem;

        .post-score-faves {
            color: #c3a816;
        }
        .post-score-extras {
            display: none;
        }
    }
}

// Resize Thumbnails
div#page[data-thumb-crop=true] {

    div#posts-container,
    div#c-favorites div#posts {
        grid-template-columns: repeat(auto-fill, var(--thumbnail-size, 150px));

        article.post-preview,
        div.post-preview {
            margin: 0 0 1rem;
            height: auto;
            width: var(--thumbnail-size, 150px);

            img.resized {
                width: var(--thumbnail-size, 150px);
                height: calc(var(--thumbnail-size, 150px) * var(--thumbnail-ratio, 1.3));
                object-fit: cover;
                max-width: unset;
                max-height: unset;
            }
        }
    }

    &[data-thumb-preserve-ratio=true] {

        div#posts-container,
        div#c-favorites div#posts {

            article.post-preview img.resized,
            div.post-preview img.resized {
                height: calc(var(--thumbnail-size, 150px) * var(--native-ratio, 1));
                max-height: 50vh;
                min-height: 70px;
            }
        }
    }
}

div#c-comments {

    article.post-preview img,
    div.post-preview img {
        max-width: 150px;
        max-height: 250px;
    }
}

// Ribbons
div#page {

    picture.picture-container {
        position: relative;
        display: inline-block;

    }

    & div.thumb-ribbon {
        display: none;
    }

    &[data-thumb-ribbons=true] {

        div.thumb-ribbon {
            position: absolute;
            top: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            width: 0.75rem;
            height: 0.75rem;

            span {
                display: flex;

                min-width: 150%;
                height: 0.5rem;

                transform-origin: center;

                background: purple;
                box-shadow: 0 0 10px -3px black;
                border: 1px solid #00000060;
            }

            $status-flagged: orangered;
            $status-pending: blue;
            $rel-children: forestgreen;
            $rel-parent: yellow;

            &.thumb-ribbon-flagged span {
                background: $status-flagged;
            }

            &.thumb-ribbon-pending span {
                background: $status-pending;
            }

            &.thumb-ribbon-flagged.thumb-ribbon-pending span {
                background: linear-gradient(90deg, $status-flagged 50%, $status-pending 50%);
            }

            &.thumb-ribbon-has-children span {
                background: $rel-children;
            }

            &.thumb-ribbon-has-parent span {
                background: $rel-parent;
            }

            &.thumb-ribbon-has-children.thumb-ribbon-has-parent span {
                background: linear-gradient(90deg, $rel-parent 50%, $rel-children 50%);
            }

            &.right {
                right: 0;

                span {
                    transform: rotate(45deg);
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }

            &.left {
                left: 0;

                span {
                    transform: rotate(-45deg);
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        // disable vanilla borders
        article.post-preview,
        div.post-preview {

            &.post-status-flagged img,
            &.post-status-pending img,
            &.post-status-deleted img,
            &.post-status-has-parent img,
            &.post-status-has-children img {
                border: 0;
            }
        }

    }

    &:not([data-thumb-rel-ribbons=true]) {
        div.thumb-ribbon.rel-ribbon {
            display: none;
        }
    }

}

// Voting Buttons
div#page[data-thumb-vote=true] {

    article.post-preview:hover,
    div.post-preview:hover {

        &>a.preview-box,
        &>div.preview>a.preview-box {
            div.preview-voting {
                visibility: visible;
            }
        }
    }
}

// Favorite Button
div#page[data-thumb-fav=true] {

    article.post-preview[data-is-favorited=true] {
        button.voteButton.favButton {
            visibility: visible;
        }
    }

}

div#page:not([data-thumb-fav=true]) {

    div.preview-voting > button.favButton {
        display: none;
    }
}



// Zoom on Hover
div#page.mode-view,
div#page[data-thumb-zoom-context=false],
div#page div#a-popular {

    &[data-thumb-zoom=true] div#posts-container,
    &[data-thumb-zoom=true] div#c-favorites div#posts {

        .post-preview.loaded:hover {
            position: relative;
            overflow: visible;

            a.preview-box {
                position: absolute;
                left: -50%;
                z-index: 10;

                min-width: 100%;

                width: fit-content;
    
                &::before {
                    display: none;
                }
    
                img {
                    object-fit: cover;
                    width: unset;
                    height: unset;
    
                    max-width: calc(var(--thumbnail-size, 150px) * var(--thumbnail-zoom, 2));
                    max-height: calc(calc(var(--thumbnail-size, 150px) * var(--thumbnail-ratio, 1.3)) * var(--thumbnail-zoom, 2));
    
                    min-width: 100%;
                    min-height: 100%;
                }
            }
    
            div.preview-extras {
                display: flex;
            }
    
            div.desc {
                display: none;
            }
        }
    }
}

// Replace Placeholder Images
div#page {

    picture.picture-container.post-placeholder {
        img.re621-placeholder-replacer {
            display: none;
        }

        img.re621-placeholder-default {
            display: inline;
        }
    }

    &[data-thumb-crop=true] {

        picture.picture-container.post-placeholder {
            background-color: #ffffff50;

            img.re621-placeholder-replacer {
                display: inline;
            }

            img.re621-placeholder-default {
                display: none;
            }

            &::after {
                content: "PLACEHOLDER";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                display: flex;
                align-items: center;
                justify-content: center;

                font-size: calc(var(--thumbnail-size, 150px) / 10);
                font-weight: 900;
                letter-spacing: 2.5px;
            }

            &.flash::after {
                content: "FLASH";
            }

            &.deleted::after {
                content: "DELETED";
            }
        }

    }

}
