/* Tiny Alias Styles */

div.tiny-alias-container {

    display: grid;
    grid-template-columns: auto 4rem 4rem;
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;
    margin-bottom: 0.5rem;

    input[type=text] {
        border-radius: 3px;
        grid-area: 1 / 1 / 2 / 3;
        padding: 0.25rem;
    }

    button {
        border-radius: 3px;
        padding: 0.25rem;
    }

    div.info-text {
        display: inline;
    }

    div.info-load {
        float: right;
        display: none;

        &.visible {
            display: inline;
        }
    }

}

div.alias-list {

    form {
        display: grid;
        grid-template-columns: 5rem 5rem 20rem;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
        margin-bottom: 1rem;

        input[type=text] {
            grid-column: span 2;
            border-left: 3px solid transparent;

            &:disabled {
                background: transparent;
                color: white;
                font-weight: bold;
            }

            &.invalid {
                border-left: 3px solid orange;
            }
        }

        textarea {
            grid-row: span 2;
            border-left: 3px solid transparent;

            &.invalid {
                border-left: 3px solid orange;
            }
        }
    }
}
