/* Helper Classes */
@media (min-width: 800px) { .mobile-only  { display: none !important; } }
@media (max-width: 800px) { .desktop-only { display: none !important; } }

.float-left  { float: left;  }
.float-right { float: right; }

form.grid-form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 0.5rem;

    .full-width { grid-column: 1 / 3; }
    input, select { width: stretch; }
}
