/* Helper Classes */
@media (min-width: 800px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .desktop-only {
        display: none !important;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
