/* Modal Helper Styles */
re-modal-container {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    margin: 4rem 1rem 0;
    z-index: 50;
    pointer-events: none;

    /* Modal Styling Overrides */
    div.ui-widget-content.re621-ui-dialog {
        position: absolute !important;
        pointer-events: auto;
        border-radius: 6px;
        min-width: max-content;
        max-width: fit-content;
        box-shadow: 0 5px 15px -5px black;
        outline: 0;

        background: url(https://bitwolfy.com/e621/extras/hexagons/hex.png), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeEAAADICAYAAADfnllEAAAAGXRFW…AIGmGCIAiCoBEmCIIgCIJGmCAIgiBohAmCIAiCGDf+K8AArFxEbsIQENIAAAAASUVORK5CYII=);
        background-position: left top;
        background-repeat: repeat-x;

        @include themable {
            border: 1px solid themed("color-section") !important;
            background-color: themed("color-section") !important;
            color: themed("color-text") !important;
        }

        &.modal-fixed {
            position: fixed !important;
        }

        &.modal-reserve-height {
            height: 75% !important;
        }

        div.ui-dialog-titlebar {
            position: relative;
            padding: 0;
            border-radius: 6px 6px 0 0;
            cursor: grab;

            @include themable {
                border: unset !important;
                background-color: themed("color-foreground") !important;
                color: themed("color-text") !important;
            }

            span.ui-dialog-title {
                float: left;
                padding: .4em 1em;
                margin: .1em 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button.ui-dialog-titlebar-close {
                position: absolute;
                height: 100%;
                margin: 0;
                right: 0;
                top: 0;
                padding: 0;
                width: 3em;
                outline: 0;

                border: unset;
                background: unset;
                box-shadow: unset;

                @include themable {
                    border-left: 1px solid themed("color-section") !important;
                    color: themed("color-link");
                }

                &:hover,
                &:active {
                    background: #00000033;

                    span.ui-icon {
                        background-image: url(/packs/media/images/ui-icons_ffffff_256x240-bf27228a.png);
                        background-position: -96px -128px;
                    }
                }
            }
        }

        &.ui-draggable-dragging {
            div.ui-dialog-titlebar {
                cursor: grabbing;
            }
        }

        div.ui-dialog-content {
            position: relative;
            padding: 1em 1em;
            min-width: fit-content;

            @include themable {
                border: unset !important;
                background-color: unset !important;
                color: unset !important;
            }

            div.ui-tabs {
                margin-top: -1em;
            }
        }
    }

}
