/* Modal Helper Styles */
re-modal-container {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    margin: 4rem 1rem 0;
    z-index: 100;
    pointer-events: none;

    /* Modal Styling Overrides */
    div.ui-widget-content.re621-ui-dialog {
        position: absolute !important;
        pointer-events: auto;
        border-radius: 6px;
        min-width: max-content;
        max-width: fit-content;
        box-shadow: 0 5px 15px -5px black;
        outline: 0;

        background: url(https://bitwolfy.com/e621/extras/hexagons/hex.png), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeEAAADICAYAAADfnllEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAGLtJREFUeNrs3Qlz27q5gOGPpCx5y35Oe7tMO9Pp//9RnXvb3p7kJHESO14kVJhDjiGEIgEQJEjh/WY0sRyTD7GQILgAhYj8XZ7j4/7zQcLj3f7zJmA5XFxcXFzc7NxSCIIgCIJIEnYj/Hr/OQtc11m9fEjg4uLi4uJm5xb7z2r/+YvRIH/bf/4VgP9h/7mqf97tP//Yf546/h4XFxcXFzdrt6r/UMdl/e96/7nffx49YI2+Nb7/uv/c9iyDi4uLi4ubtdu0+p8s7Ke6l+zam/7J+P5Yr88lcHFxcXFxs3WbRljtP++N3/tc17avn7+v1+cSuLi4uLi42brmg1nf6k8T+hHrVc/yKzl8FNteh0vg4uLi4uJm6dpdbd2S/8WjC26fRfxD/K6h4+Li4uLiZutW1vdd/bvzAPzz/vNVwgIXFxcXFzc7t22wjovADQ9dDhcXFxcXN0vXvtb9av/ZGN//f//50rH8i/3n9/XPm3r5zwEbjouLi4uLm51r9oR199t8x+l7Dyz1/383vr+VHy9x9wUuLi4uLm6Wbtmx4C+O6/ilIwEugYuLi4uLm6VbWl3oJnRX+t5xHfdW19vuyncFLi4uLi5utm7TCP9s/G4rvw235RO/1stJy/q6AhcXFxcXN1tXd5v1TWVzVBA9j+KdJ67qTzNwtX7gS78n9dCxDC4uLi4ubtaufhn578YvmLwZFxcXFxd3IrcUgiAIgiCShN0IM3kzLi4uLi7uRK6+HM3kzbi4uLi4uAncSpi8GRcXFxcXN4nbtPpM3oyLi4uLizux2zTCTN6Mi4uLi4s7sWs+mMXkzbi4uLi4uBO6dlebyZtxcXFxcXEncu2ZHprJjDc9G6BaGvPYkyirer32v6Yfy91Y6z72s3niEtttM9q2IZbbdhKmOk7QYpVvm2Gm2y7vmPmsWty2PBizPktPeccu32N1SkaoV+dW+bWVqYxYvn3HjTHLt2sfUhMcJ/vq2Bj5LEeOzUVkt6tdkBHTe34kTUXH773dtm72xZGGtq/1HzqJ8nmLqY78G9u11606TjiUlU+h0ZXPquN7zMmqlceJVgxXOabT/Pd8hHxWPXkQy+1L7xjle+6ZzjHKV3WU6ZTl23XcGKN8Xfbjsfcj5VAvYh6vVM82jJle5Xici9Eeuf7s7dqNsJ75YW18/4/0T2b8u/rntcSbRDkHd43r5G4yc3Orz5Qv6c16PzIfzNLdb/Pmcshkxm8kbBJlXFxcXFzc7NyyY8H3jut435EAl8DFxcXFxc3SLa1LFU0weTMuLi4uLu7IbtMImyN96EmJP3qePXyUw8mMf3JcDhcXFxcXN1tXd5uv5cfJjL974vqpMP1Yt89kxtfGWUcx0L2s11F5uM2j5TFc1/TGzGflmc9FgvJ9Lc9PD06dzypCvQqpz0XE8j1LUK/Ecz9Ksf/GSm+Im6I+xz5e+eazmvh4FSufU+6/zq4G/2b8Qo91+auEx1sJmz4KFxcXFxc3O7cUgiAIgiCShN0I6+74kMmMXwUui4uLi4uLm53b3Jf4s9Eg6/kP/x2A/488z8Wor4v/r/RPooyLi4uLi5utW8nzZMYXRkvuO5mxRs33oj6K+yTKuLi4uLi4WbpNq/+5xpon0t6J32TG74zvj+I+ZNdnK5Ghrgp0U6V3iKsGpFcWWL5qYD6rjOpVyv1ILWw/WmI+p9qPJMPyVVPlszkyiO4yX9c/l/XKXB7R1k+BXRnff/E8e3gylp/avc7MvaJ8KV/ymf2IejWf9JoPZt1aXWd9c9llMuNXHetwCVxcXFxc3Cxdu6utr4P/ScInM/4/CZ9EGRcXFxcXNyvXnulhV/eOQ+aevNl/vklY4OLi4uLiZue2DdYROvnz0EmjcXFxcXFxs3Lta90v5bdJiZsnvPT0TF87ltc3zptBqtf18jcBG46L2+XqSbO/kM+41CvcU6tXZk9YX5o2x7u874Gl/n9zqqfXEjaJMi5ul/uGfMalXuGeYr0qrQ02v39wXMcHa32+A2bj4uLi4uJm6ZZWF7oJ3ZV+cFzHg9X1flGvzyVwcXFxcXGzdZtG2BxhRE9K/Mnz7OGTHE5m/M5xOVxcXFxc3Gxdfd36ymr99XiXIZMZ68+FsV498kjXu1K4uLi4uLhZu/pl5L8av/gc0Pqboa+Dh0wflcq9qTM7NPQN+JcJ3FT5nCq9ueVzqvrM/jvv/Si3epXFcbKUvEMlWl5lll/k8zLqM/sv5UQ+TbzddiOsW+9VILwKPLvDxcXFxcXN0tWXo/V16z/K84wRd/LbDBC+8bMcTmb8Tzm8SW2H6eq4XaB7Ueehr0s+48Z2i/pDPlO+XW5z35J8nolbGV3nZrgtPXi1ftz6yQPWjZF57V1fU++7qY2Li4uLi5u127T6XyzsjfhNZvzG+P4k7kN24eLi4uLiZuuWxlmA+RSavq79whF/IYfXzz+K+41pXFxcXFzcbF3zway7+tOEvrncN/5lJYc3oe11uAQuLi4uLm6Wrt3V1i35H478n+rpmuv//5f4XUO33dBJlHHjuXY5N99jucoz3WO55ve2/5MR8tkl7THLV3nk+SnVZ9XzuynLt61uLXk/cqnLdl5zfO5pwc1oJjPeBOD6+vethEXjrnFxcXFxcXNx2wbr2ARueOhyuLi4uLi4Wbr2C8nXVuv/oadV1+9DNYNUr+vlvwZsOC4uLi4ubnZuaf1s3ly+d+hW38rhZMYvxX8oTFxcXFxc3Cxd857wK6srrVv/rcM69AvNV/XPzaguPrNPvA50HxO5c0lv6emmKt9XidJr5/N7+e1ej296yxOvz48zSW+5kHpFfZ53vVrc8blprc/qLnQTX8V9MuNHq+t9Xa/PJc6MDfd1HxK5c0nvlaebqnyvE6XXzufHwPRenXh9fphJeq8WUq+oz/OuV4s7PjeNsDnShz67uvHswt9YZwtvHJcz/24b6O4GuqnSu0uU3u3C3G1m7m6h9WpH+Z70/ku7MFJ69eXoS+vsTo93ee+J2+Nuukxm3OY+BLg6sy4GuJ8CXTXQDc1ntdB8/pwwnx+oz5PUqyUdN1TC+jwkvTeB+bzk42SKfJ4svfra9Z+MX3wJaP3N0DekXwQsh4uLi4uLm51bCkEQBEEQScJuhHV3fMhkxteBy+Li4uLi4mbn6svR+rr174wGWQ88/WsA/laer4Xr+w//kf5JlE1XP879YUGufjn7fICbKp9D3VTpXapLveK4cUpubuU7WXo13DwcsTFacn0j2Wfga33QMK+B62vqfQ8P4OLi4uLiZu02rf43C3spfpMZmyOMPNXrcwlcXFxcXNxs3dI4CzCfBtNnAVeO+JUcXj+/Eb9JlHFxcXFxcbN0zQezvsvhMFv65rLLZMbXHetwCVxcXFxc3Cxdu6utW/KfJTx+kfBJlHFxcXFxcbNy7RZ+yGTG+vr3XeBG4+Li4uLiZue2DdaxDtzw0OVwcXFxcXGzdO0Xki+N3+mbyp97WnX9PtTr+uezevnbgA2/lOcZJ3JzdXxydFUEdxXgpkovLu5cXfYj3Chuaf18bTRIjw7dav3/D/I8cPW1hE2ifG2sIzf3wcOVCK4EuKnSi4s7V5f9CDeKa/6hvaDrANY3Ryqoa+Di4uLi4mbpllYXuolb8Zs0+rajK98VuLi4uLi42bpNI/xCnl8s1uNcfvU8e9B/vzO6467TOL0wlhnimutzdSVSeiVBekPzWerlQ9xtoDs0n7eJ61VoeofksySoV9uB9WqboF6pBPU5Vb1SA9O7G5jP24H1eerjxpB8nvQ4qV9ROrdaf72i0MmMN8Z69cZ0vSsV010ncjcZuZKZm6peSUKXesXx6lTqs1rKfqQH6/i98YtvAa2/Gfo6+FXAcri4uLi4uNm5pRAEQRAEkSQqq8XWN5K/i/uA1/a6XgVuBy4uLi4ubnZuUfeG38nzONJ6/sPPAbiGm2vheuP1RMy7nl44Li4uLi5utm4lP9481yPB6BvJWw94Y/Wo9TX1vpvauLi4uLi4WbvNPeE7OXyC61r8JjM2X0zeivsA1ndy+Ej31G7K9EpG6c3JfTJ26qsFpVdRviftKurVPF1zFqWd0Y0u5Hkox764NJbT8UX8po/CxT1VtySfcXGD3G0u6TWfjr63us6X0v/0dCmH71Y91OvxCVxcXFxcXLGWySK9RUvP+I1HF9wMfcbwUfyuoePi4uLi4mbrVi0r0PDK6o7bP7d9vws463BxpceP4Z4ZP7s8ll6cSHrtEzHVcoKmRkivz0liCneK+nysrMdIr0v9iuV2pbWw9rMxytd1Hx47n4/l+Vj1uS/dY+5HXemeKr1TudHrVRtyduSgrFo29NhyIXHWse4uP4arOtxjhXQK6e1KsxoxvZIon6dYzrV8j+X1GOl1qV+xXOWQTjVi+aoE5etyvBy7PqsE6XVJ91TpVROmN+pydiN8bv3uS0+rrm9EvzDWpZf/HrDhuLi4uLi42bml9bN5c/nRoVt9L4dPjrncxG7bBlxcXFxc3OzcylrwzGr9dw7rsB8lL8R9DkZcXFxcXNxs3dLqQjehu9Ku71Y9WV1vuyvfFbi4uLi4uNm6TSNsDrWlW33XEUaauLPOFlynccLFxcXFxc3Wreou9MZa0aMnbj6520wKsZPud6U2Vvf9doHu2liPi3suz4+/x3B90zu0fNf1zz5u86rT0PKVBG6T3mrm9fncWP4uQj5XCdwlpLepVyrSflQlqs+l5/FKIuWzb/lOnd6Y7YJz+WrsrdX9vpXwuLQy0DVwcXFxcXGzc0vJO1Si5VXi7V5aPufmKvIZl+1Olt5J86ls6ZKXA9a1CVw2lXs+0D1fmLvUfM7NPSefcUfYf5d23NjksB8192FeyvNj1Xrw6a8BuJ7GyXy0W0+I3DeJ8itjO1K4Oh4Hus394BsHN2Y+h7ix0qsc8/mlHM4kNKUbI5/XxpnxlOlt7ikpx/J9JYczvkyVz6n2o5iu73Gj2Y+mPF7FrM8h9UoiueK5H0mk46TvcWPS+lxJ+0MKW3F7N0qMZS+M7y438U/J/Z6Z65PPq8zq1SpR+a7Yj6jPJ1Svssnn0vhjE7v0bP3Nv9+J+5Bdc3EvPN2LGaR3u0A3VT5P6W4Xvh9NWb5Lr1c5HK+2Myjfk96PKmtjzVdudLi8qHxuLKfjm+fZwxzccoHpvV2gW1K+J12vyszqVW7Hq3KBx6vZ70d2I1wZGV3VXemuJ8Xaxtn0HTAbFxcXFxc3S7doWdlLCY++m9BdicDFxcXFxc3KrazvQyYztmeS8AlcXFxcXNzs3LZ3oVbGhijpnrDZnJx7JcNi1bLOrkyylwuNqmPdbdujIrkryziWz7ZbRUhvW9lKjx87n6Un3yViPnel81g+jOEqz3oxtF6JY10eO5+7tiXmcUN51K8x87lrP6oiHzekp27HPD4rhzrlu98PrVfH9rEYx0nf41VQPtsLrOX5PUcd+tHuh47l9d9fGA36uufvu9Zjut96zib0o+CXkdwqIL0qcnp93CpCeiVBequE9arZQXJxl5LPauHpTbH/lgvbj6pE9apayvHK7Anr7rc5wsjWYUUPcvgI+7n8eJ+5L9rcvu7840huqvTi4uLi4mbolh0Luk7jdNeRAJfAxcXFxcXN0q2Mf8+tlt315nJzE9tc15O43R/CPX33wvhb8hkXF3cKt7mXPPv0lkbrb67s3vPs4d7CXM8CcE/fVeQzLi7uxO5uKenVrbV+yGltrWgrYbEyGveddL8rhYuLi4uLm7Wru88vLfhewmMjYdNW4eLi4uLiZuf6vtvnEkzwjYuLi4uL6xD2YB1rGTaZ8TpwWVxcXFxc3OzcZqLoKzmcMeIuAL+Qw9FrvvWcDeDi4uLi4mbtmqMn+dxMtkMva14Dt19e7lu2yYQQdz3QHZpeFeA2j85Pnc8xXN/0VnXZDslnlah8Q9wY6U1Zn6dOrzltnK8rifajGMerYiFuZXTWUrhD6lWR8LjhnN7S2MidPI836nsze20s6zLCiLS4EnD5wNxOFeiGpHdjLLsLcCWCu03k+qbXHJ95HeimKl8JLN+U+1FIPg9x1cB8lsB8Vonq89awp0zvLpIbWr6p3CH1auh+NMlxo7IaMfNsSxzPHtZyOAb1vefZAy4uLi4ubpauefP5qf40cSb9418W9d8dW4dL4OLi4uLiZukWLY3yhYTHnYRPouzrFnI4y8VUbuz0FtZZmJ2+Qn68sR/TVQ75O0b5FtL/oMRY5dtnywnUK590nkp655DPLnk+dvkWR44lsY4byuEYdar12SXNXm7bXLqFhM3F+Bhw1oGLi4uLi5utWzo0zKEN+lTL4+Li4uLiLtJdtXw3G+b7nlbdfNS/rL+HnH3g4uLi4uJm55qttj0Hossj1jt5fp+rWZ9vomO4OuHbBG6q9OK6uZuF1qtQd5PZfrTJLJ83HDcWUa+8XLO1P7P+z+fdKulYT1/EcItEruDO2i0WWq+KzNK7tPJdqstxY4b5XFpd6CaexP3prp3V6ttd+T4fFxcXFxc3S7dsabX1k2GPnmcPj3L4uLbriD2xXdezj3Vm6aV8KV/SO796dUY+41b1Z2WtKOTdKrNRb96hUj02Li4uLi5utq7+owur+/0o4XEmPz5x7RK4uLi4uLjZuaUQBEEQBJEkypYueRG4rtARRnBx+9wV+Txrd0W9Ir3sR2FuM09k6BRbZqzlxxec+8YGxsXFxcXFzdatWnrFzeTNPgNlD3m02+cm9lzcKpK7w53EXUr5sh/h4mbmlsYfhzzS3fb3StxHC7Hd1ULcVST3DHcSdynly36Ei5uZW1kLVcZZgDiePays9Tx6nj3g4uLi4uJm6dqNcCGH45v24fbwa/rvfcdExcXFxcXFzdItWr6vJTwePM86cHFxcXFxs3WrIxsQ8v7wVsJHGMHFxcXFxc3OLR16x6G96qmWx8XFxcXFXaRbtPSMzd5x3yPW9qsNW/G/Bp/aXRmXDnJILy4ubhy3eY1lzuk9M45vlO8M3dJqkO0Htfq61fZ7kCEjjaR2VWbpxcXFjeOqBaR3R/nO2y2tBcVq/V3iqeUswvesAxc3tlviLqp8S+rzSefzUtzJ9yPzfSi7O70L3PjCY1lcXFzc5l/y+XTzuaRedS9gd799r6NvW7rjvmc7uLi4uLi4WblV3RCXHSvyCfMF575xN8dwCyMDT91tPuTzcbcY6Db1OKd6tRS3MA6UU5ZvDDf1cUMcXfOZmSWW7yLqc4wRRtoadd/AxcXFxcXNzi2FIAiCIIgkYb8PVQzsglcDlsXFxcXFxc3KLYyFioFdcbML7nItHxcXFxcXN2vX7gWHngXY42z6TGaOi4uLi4ubpVsaf2y35r6tv1i4S+Di4uLi4mbr2u9F2Q9quZwJlHL42HvI/I24uLi4uLjZuaUFqZZuuWv3vW0drolWR7ZpSreYuVsmyufyRNJL+bL/nlI+F5m5J1uviiO945BpnEJGGJmDuwpcbqnpxXV3dxL+lCT7EfUKN52r42kJ6a0cG+aQMwjfSOVKZunFxWU/wsWdiVtGxJm8GRcXFxcXd8ACvo9YD3kUHBcXFxcXN2u36vju2q02BwUPHWkklWs+0bak9Ar5TPnOqHyXWq9yy2ehPs/PrSJlWmH97LtsDDfG2Y5L2I+w+6a3jJDeYuAByye9Q8u3TFSv5uLuAst3KndofS4SubHyOeS4EWM/SuFOmV6zfAuZrl2IXZ9Hb4+qI5V6yFOhoTuTkvCb6UVAhpUDz9KGpFd5nmW1eUVgemM8gBNaMYfaQ9I7VX0uItUrSeT6prcaWLap6/PQ49WU+awGlm+RML2h+28R2B4Vgfk11PXO56qlQRIZ1hD6VDBcXFxcXNxs3UriXLsP6Y7j4uLi4uJm7dr3RWNcYgl9wRkXFxcXFzcrtxSCIAiCIJJE0dIQ7wasb0ijjouLi4uLm5V77JWIIU+E+XTni5bLACGuiN8TfLHS67vtKdMby02V3hB3yFOdS0zvkvM5pD6nKN9Yx40l7b9L3Y98yypJu1AdWVAi4GMtg4uLi4uLexJuEensg2VZlmVZlmVZlmU9ly06vk85UMAcLsGlSq+aoHKQ3vmnN9V+dCou5Us+L9ItZtgY4uLi4uLiZuEWjr9zjRTzN+Li4uLi4i7SLSJuQIwJwXFxcXFxcXN2e3vIRaSzBVe/bfSRYiSvb6STIrLtk6cx7eJIHo+d121OMXGdOjajTDGyeexnmSDtbfk/Vn0uHOrYmMeLrjIeO0+Lnn1szOOGJMjvoqOtGMM+dnwqRi7fkPwnCIIgCIIgCIIgCIIgCIIgiDlFoZQiFwiCIAiCRpggCIIgaIQJgiAIgqARJgiCIAgaYYIgCIIgaIQJgiAIgkaYIAiCIAgaYYIgCIKgESYIgiAIgkaYIAiCIGiECYIgCIKgESYIgiAIGmGCIAiCoBEmCIIgCIJGmCAIgiBohAmCIAiCGDf+K8AArFxEbsIQENIAAAAASUVORK5CYII=');
        background-position: left top;
        background-repeat: repeat-x;

        @include themable {
            border: 1px solid themed("color-section") !important;
            background-color: themed("color-section") !important;
            color: themed("color-text") !important;
        }

        &.modal-fixed {
            position: fixed !important;
        }

        &.modal-reserve-height div.ui-dialog-content {
            height: 75vh !important;
        }

        div.ui-dialog-titlebar {
            position: relative;
            padding: 0;
            border-radius: 6px 6px 0 0;
            cursor: grab;

            @include themable {
                border: unset !important;
                background-color: themed("color-foreground") !important;
                color: themed("color-text") !important;
            }

            span.ui-dialog-title {
                float: left;
                padding: .4em 1em;
                margin: .1em 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            button.ui-dialog-titlebar-close {
                position: absolute;
                height: 100%;
                margin: 0;
                right: 0;
                top: 0;
                padding: 0;
                width: 3em;
                outline: 0;

                border: unset;
                background: unset;
                box-shadow: unset;

                @include themable {
                    border-left: 1px solid themed("color-section") !important;
                    color: themed("color-link");
                }

                &:hover,
                &:active {
                    background: #00000033;

                    span.ui-icon {
                        background-image: url(/packs/media/images/ui-icons_ffffff_256x240-bf27228a.png);
                        background-position: -96px -128px;
                    }
                }
            }
        }

        &.ui-draggable-dragging {
            div.ui-dialog-titlebar {
                cursor: grabbing;
            }
        }

        div.ui-dialog-content {
            position: relative;
            padding: 1em 1em;
            min-width: fit-content;

            height: 90% !important;
            overflow: hidden scroll;

            @include themable {
                border: unset !important;
                background-color: unset !important;
                color: unset !important;
            }

            div.ui-tabs {
                margin-top: -1em;
            }

            @include scrollbars;
        }
    }

}
