/* Tab Group Styles */
div.ui-widget-content.ui-tabs {
    border: unset !important;
    background-color: unset !important;

    @include themable {
        color: themed("color-text") !important;
    }

    ul.ui-tabs-nav {
        border: unset !important;
        background-color: unset !important;
        color: unset !important;

        margin-left: 0;

        li.ui-tabs-tab {
            display: inline-block;

            border: unset;
            background: unset;

            padding: 0.5rem 0.25rem;
            margin-right: 0.5rem;
            outline: 0;
            border-radius: 0 0 4px 4px;

            @include themable {
                background-color: lighten(themed("color-section"), 10%) !important;
                color: themed("color-text") !important;
            }

            &.ui-tabs-active {
                @include themable {
                    background-color: themed("color-section") !important;
                    color: themed("color-text") !important;
                }
            }

            a,
            a:link,
            a:visited {
                outline: 0;

                @include themable {
                    color: themed("color-text");
                }
            }

            a:hover {
                @include themable {
                    color: themed("color-link-hover");
                }
            }
        }
    }

    div.ui-tabs-panel {
        border: unset !important;
        background-color: unset !important;
        color: unset !important;
    }
}
