// === Default / Hexagon Theme ===

$theme_bloodlust: ( // Layout Colors
    "color-background": #000000, // Main background (dark blue, large hexagons)
    "color-foreground": #222222, // Foreground (lighter blue, small hexagons)
    "color-section": #333333, // Foreground sections - boxes, sections, etc

    // Main Colors
    "color-text": #ffffff,
    "color-text-muted": #999999,
    "color-text-white": #ffffff,

    "color-link": #ffee95,
    "color-link-hover": #f68b00,
    "color-link-active": #ffffff,

    "color-success": darkgreen,
    "color-danger": maroon,
    "color-warning": sienna,

    // Detail Colors
    "color-detail-quote": #67717b,
    "color-detail-expandable": #ffe380,
    "color-detail-code": #427982,

    // User Groups
    "color-user-member": #ffee95,
    "color-user-member-alt": #f68b00,
    "color-user-privileged": #ffee95,
    "color-user-privileged-alt": #f68b00,
    "color-user-contributor": #ffee95,
    "color-user-contributor-alt": #f68b00,

    "color-user-blocked": #ffee95,
    "color-user-blocked-alt": #f68b00,

    // Tag Categories
    "color-tag-general": #ffee95,
    "color-tag-general-alt": #f68b00,
);
