/* Helper Classes */

a {
    cursor: pointer;
}

// Floats
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-left {
    text-align: left;
}

// Text Alignment
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-middle {
    align-self: center;
}

// Display
.display-none {
    display: none;
}

.display-none-important {
    display: none !important;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

// Visibility
.vis-hidden {
    visibility: hidden;
}

.vis-shown {
    visibility: visible;
}

// Border
.border-left {
    border-width: 0px !important;
    border-left-width: 1px !important;
}

// Styling
.text-bold {
    font-weight: bold;
}
